fos_user_profile_show:
    path:     /
    defaults: { _controller: FOSUserBundle:Profile:show }
    requirements:
        _method: GET

fos_user_profile_edit:
    path:     /editer
    defaults: { _controller: FOSUserBundle:Profile:edit }

fos_user_profile_user_show:
    path:     /{username}
    defaults: { _controller: FOSUserBundle:Profile:userShow}
    requirements:
        _method: GET
        username: "[a-zA-Z]+"