fos_user_profile_edit:
    path:     /editer
    defaults: { _controller: FOSUserBundle:Profile:edit }

fos_user_profile_projects:
    path:     /projets
    defaults: { _controller: FOSUserBundle:Profile:projects }

fos_user_profile_messages:
    path:     /messages
    defaults: { _controller: FOSUserBundle:Profile:messages }

cf_user_projetsSuivis:
    path:   /projets-suivis
    defaults: { _controller: CFUserBundle:Profile:projetsSuivis }

cf_user_projetsSoutenus:
    path:   /projets-soutenus
    defaults: { _controller: CFUserBundle:Profile:projetsSoutenus }

fos_user_profile_show:
    path:     /voir/{slug}
    defaults: { _controller: FOSUserBundle:Profile:show}
    requirements:
        _method: GET
        slug: "[a-zA-Z-0-9]+"