fos_user_registration_register:
    path:     /
    defaults: { _controller: FOSUserBundle:Registration:register }

fos_user_registration_check_email:
    path:     /check-email
    defaults: { _controller: FOSUserBundle:Registration:checkEmail }
    requirements:
        _method: GET

fos_user_registration_confirm:
    path:     /confirm/{token}
    defaults: { _controller: FOSUserBundle:Registration:confirm }
    requirements:
        _method: GET

fos_user_registration_confirmed:
    path:     /confirmed
    defaults: { _controller: FOSUserBundle:Registration:confirmed }
    requirements:
        _method: GET

association_registration:
    pattern:  /association
    defaults: { _controller: CFUserBundle:RegistrationAssociation:register }

entreprise_registration:
    pattern:  /entreprise
    defaults: { _controller: CFUserBundle:RegistrationEntreprise:register }

particulier_registration:
    pattern:  /particulier
    defaults: { _controller: CFUserBundle:RegistrationParticulier:register }

inscription_confirmee:
    pattern: /confirmation
    defaults: { _controller: CFUserBundle:RegistrationConfirm:confirmed }
