# Cache and logs (Symfony2)
Symfony/app/cache/*
Symfony/app/logs/*

# Managed by Composer
Symfony/app/bootstrap.php.cache
/var/bootstrap.php.cache
Symfony/vendor/*

# Assets and user uploads
Symfony/web/bundles/*
Symfony/web/uploads/*