{% extends "CFUserBundle::layout_profile.html.twig" %}

{% block title %}
	{{ parent() }} - Mes messages
{% endblock %}

{% set menulink_messages = 1 %}

{% block cfuserbundle_body %}
	<div class="panel-profile-heading">
		<div id="layer"></div>
		<div class="title-panel-heading">
			<h1><i class="fa fa-envelope-o"></i> Mes messages</h1>
		</div>
	</div>
	{{ render(controller('CFMessageBundle:Conversation:list')) }}
{% endblock %}