body {
	background: #34495E;
}

/**** CARROUSEL ****/
.slider{
    max-width:870px;
    margin:0 auto 0;
    min-height:400px;
}
.slide {
	-webkit-clip-path: polygon(0px 400px,870px 400px,970px 0px,100px 0px);
}
.slide img
{
    width: 970px;
    max-width: 970px;
    max-height: 400px;
}
.project-title {
    width:905px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .50);
    margin: 0;
    color:white;
}
.project-title h2{
    color: #fff;
    font-size: 34px;
    font-weight: 700;
}
.project-title p{
    font-size: 18px;
    font-weight: normal;
    padding-left: 3px;
}
#carousel
{
    width:100%;
    position:relative;
}
.bx-wrapper{
	margin-bottom: 0;
	position: relative;
}
#carousel .bx-viewport
{
    overflow: visible!important;
    left: 0px;
    border: none;box-shadow: none;
}
#filter-left{
    cursor: pointer;
    z-index: 5;
    float: left;
    background: rgba(236, 236, 236, 0.72);
    height: 100%;
    width: 970px;
    -webkit-clip-path: polygon(0px 400px,870px 400px,970px 0px,0px 0px);
    position: absolute;
    left: -100%;
}
#filter-right
{
    cursor: pointer;
    z-index: 5;
    float: left;
    background: rgba(236, 236, 236, 0.72);
    height: 100%;
    width: 970px;
    -webkit-clip-path: polygon(100px 400px,970px 400px,970px 0px,200px 0px);
    position: absolute;
    right: -100%;
}

/**** MENU CAROUSEL ****/
#menu_carousel {
	position:absolute;
	width: 300px;
	height: 400px;
	background-color: #ececec;
	z-index:50;
	
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 400px,150px 400px,250px 0px,0px 0px);

	/* Firefox*/
	clip-path: url(../svg/carouselMenu.svg#svgClip);
}
#panel-carousel {
  margin-left: 110px;
  width: calc(100% - 125px);
}
#menu_carousel a {
	margin-top:25px;
	padding-left:30px;
	display:block;
	font-size:18pt;
	color: #888687;
}
#menu_carousel .selected {
	border-left:6px solid #63a2e8;
	padding-left:24px;
	color: #63a2e8;
}
#menu_carousel a:hover , #menu_carousel a:focus{
	text-decoration:none;
	border-left:6px solid #63a2e8;
	padding-left:24px;
	color: #63a2e8;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	position:absolute;
	color:#323749;
	font-size: 30px;
	z-index:50;
	pointer-events:none;
	margin-top: 133.5px;
	font-size: 100pt;
}
.glyphicon-chevron-left {
	margin-right:60px;
	right:0;
}
.glyphicon-chevron-right {
	left: 150px;
}
#reseaux_sociaux {
	margin-top: 25px;
	padding-top: 10px;
	border-top: 1px solid #CCD2DE;
}
#reseaux_sociaux > a{
	font-size: 12pt;
	margin-top:6px;
}
#reseaux_sociaux > a > span{
	width:16px;
}
#reseaux_sociaux #facebook:hover{
	color: #3b5998;
	border-color:#3b5998;
}
#reseaux_sociaux #twitter:hover{
	color: #55ACEE;
	border-color:#55ACEE;
}
#reseaux_sociaux #googleplus:hover{
	color: #dd4b39;
	border-color:#dd4b39;
}

/**** BARRE DE RECHERCHE ****/
.search-default {
	background-color:#ececec;
	border:none;
	margin-bottom:30px;
	margin-top:2px;
	height:65px;
}
.search {
	width:100%;
	padding:0;
}
.search-default form{
	width: 50%;
	height: 65px;
	margin-left:auto;
	margin-right:auto;
}
.search-default form input, .search-default form input:focus {
	border:none;
	padding: 16px 12px;
	font-size: 20pt;
	box-shadow: none;
	height:60px;
	background:none;
}
.search-default .glyphicon-search {
	font-size:25px;
	color:#555;
}
.search-default .glyphicon-search:hover {
	color:#449cfa;
}

/**** DRAG & DROP BOUTONS ****/
.dragdrop-button-container {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}
.dragdrop-button-container p{
	text-align:center;
	color:white;
	font-size:18pt;
	margin-bottom:25px;
}
.dragdrop-button-container ul {
	width:49%;
	display:inline-block;
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
}
.dragdrop-button-container ul li{
	z-index:4;
	cursor:move;
	margin:5px;
	background:#323749;
	border-color:#ECECEC;
}
.dragdrop-button-container ul li:hover, .dragdrop-button-container ul li:active{
	background:#555B6F;
	border-color:#ECECEC;
}




/* NEW VERSION */
.sidebar-left {
	display: inline-block;
	background: #D8D8D8;
	height: 470px;
	width: 25%;
	vertical-align: top;
}

.sidebar-left-title {
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 36px;
	font-weight: 300;
}

.sidebar-left-title .blue {
	color: #3498DB;
}

.sidebar-left-slogan {
	text-transform: lowercase;
	letter-spacing: 15px;
	color: #4A4A4A;
	text-align: center;
}

.sidebar-left hr {
	width: 260px;
	margin: 20px auto;
	border-color: #4A4A4A;
}

.sidebar-left-inscription {
	text-align: center;
	padding: 0px 10px;
}

.sidebar-left button {
	display: block;
	width: 260px;
	margin: 10px auto;
}

.sidebar-projects {
	background: #34495E;
	height: 242px;
	padding-top: 10px;
}

.sidebar-projects a {
	display: block;
	line-height: 40px;
	color: #FFFFFF;
	text-indent: 20px;
	border-left: 5px solid #34495E;
	margin: 10px 0px;
	font-size: 16px;
	font-weight: 300;
}

.sidebar-projects a:hover {
	text-decoration: none;
	border-left: 5px solid #3498DB;
	background: rgba(216, 216, 216, .25);
}

.carousel-front {
	display: inline-block;
	width: 75%;
	background: blue;
	height: 470px;
	position: relative;
	vertical-align: top;
	background: url('../images/carousel-example.jpeg') center center no-repeat;
	background-size: cover;
}

.carousel-front-texte {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 200px;
	background: rgba(0,0,0, 0.2);
	padding: 30px 20px;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
}

.carousel-front .btn-discover {
	font-size: 13px;
	border: 2px solid #5FCF80;
	border-radius: 5px;
	display: inline-block;
	padding: 6px;
	width: 200px;
	font-weight: 600;
	color: #5FCF80;
}

.carousel-menu {
	background: #22313F;
	width: 100%;
	height: 175px;
}

.search {
	height: 60px;
	width: 100%;
	background: #D8D8D8;
	cursor: text;
}

.search input {
	display: block;
	margin: 0px auto;
	width: 60%;
	background: transparent;
	border: none;
	font-size: 22px;
	padding-top: 15px;
	text-align: center;
	color: #4A4A4A;
}

.search input:focus {
	border: none;
	outline: none;
}

.selectors {
	text-align: center;
}

.selector {
	display: inline-block;
	width: 250px;
	margin: 20px 20px;
}

.selector .select {
	padding: 15px 0px;
	background: #FFFFFF;
	cursor: pointer;
}

.selector .select.active {
	background: rgba(216, 216, 216, 0.25);
	color: #FFFFFF;
}

.selector .select:hover {
	background: rgba(216, 216, 216, 0.5);
	color: #FFFFFF;
}