/* NEW VERSION */
#main-top {
  position: relative;
  width: 100%;
  height: 470px;
}
.sidebar-left {
	display: inline-block;
	background: #D8D8D8;
	height: 240px;
	width: 300px;
	position: absolute;
	z-index: 5;
	vertical-align: top;

	/* Firefox*/
	clip-path: url(../svg/index.svg#menuClip);

	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 470px,70% 470px,100% 0px,0px 0px);
}

.sidebar-left-title {
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 36px;
	font-weight: 300;
}

.sidebar-left-title .blue {
	color: #3498DB;
}

.sidebar-left-slogan {
	text-transform: lowercase;
	letter-spacing: 15px;
	color: #4A4A4A;
	text-align: center;
	margin:0 14%;
	width:70%;
}

.sidebar-left hr {
	width: 50%;
	margin: 20px 21%;
	border-color: #4A4A4A;
}

.carousel-inner {
	bottom: 10px;
	width: 88%;
	margin: 0 1%;
	font-size: 12px;
	font-weight: bold;
}
#fade-quote-carousel.carousel .carousel-indicators {
	bottom: -10px;
	width:50%;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
	background-color: #e3e3e3;
	border: none;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active.green {
	background-color: #83d29a;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active.red {
	background-color: #c0392b;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active.blue {
	background-color: #2980b9;
}

.sidebar-left-inscription {
	text-align: center;
	padding: 0px 10px;
}

.sidebar-left a.btn {
	display: block;
	width: 75%;
	margin: 10px 6%;
}

.sidebar-projects {
	background: #34495E;
	height: 242px;
	padding-top: 10px;
}

.sidebar-projects a {
	display: block;
	line-height: 40px;
	color: #FFFFFF;
	text-indent: 20px;
	margin: 10px 0px;
	font-size: 14px;
	font-weight: 300;
	border-left: 0px;
	transition: all 0.5s;
}

.sidebar-projects a:hover, .sidebar-projects a.active {
	text-decoration: none;
	border-left: 4px solid #3498DB;
	background: rgba(216, 216, 216, .25);
	text-indent: 16px;
	transition: all 0.5s;
}

.carousel-front {
	display: inline-block;
	width: 100%;
	background: blue;
	height: 595px;
	position: absolute;
	vertical-align: top;
	background-size: cover;
}

.carousel-front-texte {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
	width: 500px;
	background: rgba(0,0,0, 0.4);
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	color: white;

	/* Firefox*/
	clip-path: url(../svg/index.svg#maskClip);

	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 100%,100% 100%,100% 0px,33px 0px);
}

.carousel-front-texte button span {
	top:2px;
}

.carousel-front .btn-discover {
	font-size: 13px;
	border: 2px solid #5FCF80;
	border-radius: 5px;
	display: inline-block;
	padding: 6px;
	width: 200px;
	font-weight: 600;
	color: #5FCF80;
}

.carousel-front .jauge {
	width:55%;
	margin-top:20px;
}

.carousel-front .project-selected-infos {
	font-size: 11pt;
	margin-top: 8px;
}

.carousel-menu {
	background: #22313F;
	width: 100%;
	height: 175px;
}

.selectors {
	text-align: center;
}

.selector {
	display: inline-block;
	width: 250px;
	margin: 0px 20px;
}

/** MEDIA QUERIES **/
@media (max-width: 960px) {

    #main-top {
    	height:700px;
    }

    .sidebar-left {
        font-size: 90%;
        width: 100%;
        position:relative;
    	height: auto;
    	clip-path:none;
		-webkit-clip-path: none;
    }   
    
    .sidebar-left hr {
	  	margin: 20px auto;
	}

	.carousel-inner {
	  	margin: 0 auto;
	}

	#fade-quote-carousel.carousel .carousel-indicators {
  		width: 60%;
  	}

  	.sidebar-left button {
		margin: 10px auto;
	}

    .sidebar-projects {
    	display: inline-block;
    	width: 100%;
    	text-align: center;
    	height: auto;
    	padding-top: 0px;
    }
    .sidebar-left a.btn {
	  display: block;
	  width: 40%;
	  margin: 10px auto;
	}

    .sidebar-projects a {
    	display: inline-block;
    	padding-right: 10px;
    }

    .carousel-front {
    	display: inline-block;
    	width: 100%;
        position:relative;
  		height: 431px;
    }

    .search input {
    	width: 100%;
    	padding-top: 20px;
    	font-size: 13px;
    }
}

@media (max-width: 480px) {   
    .carousel-front {
        display: block;
    } 
	.carousel-front-texte {
  		width: 100%;
		clip-path: none;
		-webkit-clip-path: none;
	}
}
/*****************/
/* SLIDER CONFIG */
/*****************/

.slider * {
	margin:0;
	padding:0;
}
.slider *:focus {
	outline:none;
}
.slider {
	width:100%;
	height:150px;
	position: relative;
	background:#34495E;
}

/****************/
/* PETIT SLIDER */
/****************/
.slider > div {
	width: calc( 100% - 74px );
	margin-left:37px;
}
.slider {
	display: none;
}
.slider.active {
	display: block;
}
.slider .item-slider {
	width: 100%;
	height:150px;
	position:relative;
	display:inline-block;
	cursor:pointer;
	overflow: hidden;
}
.slide-image, .slide-image-blured {
	position:absolute;
	width:100%;
	height: 150px;
}
.slick-slider .slick-list { 
	padding:0!important;
  	position: absolute;
  	height:100%;
}

/******************/
/* BOUTONS SLIDER */
/******************/
.slick-prev, .slick-next, .slick-prev:focus, .slick-next:focus {
	position:absolute;
	height:100%;
	width:37px;
	background: #22313f;
	border: none;
	color:white;
	cursor:pointer;
	outline:none;
}
.slick-next {
	right:0;
}

/****************/
/* ITEMS SLIDER */
/****************/
.project-infos {
	position:absolute;
	width:100%;
	height:150px;
  	z-index: 12;
}

.project-infos span.title {
	display: block;
	margin-top: 50px;
	text-align: center;
	color:white;
	text-shadow: 0px 0px 3px #000;
	font-size: 22px;
	text-transform: uppercase;
}

.project-more-infos {
	position:absolute;
	width:100%;
	color:white;
	bottom: -30px;
	z-index:15;
}
.project-more-infos > .text-infos {
	display:block;
	margin:0 auto;
	width: 50%;
	text-align: center;
	margin-top:5px;
}
.project-more-infos > .text-infos > p {
	text-align: center;
	display:inline-block;
	text-shadow: 0px 0px 3px #000;
}
.jauge {
	background: white;
	width: 90%;
	height: 6px;
	margin: 0 auto;
	border-radius: 5px;
}
.jauge-inner {
	background: #008EFF;
	height: 100%;
	border-radius: 5px;
}

/**********************/
/* ITEMS SLIDER IMAGE */
/**********************/
.slide-image-blured {
	z-index: 1;
	bottom: 0;
}
.mask {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 30%;
	z-index: 10;
	overflow: hidden;
	filter: blur(6px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
}

/** MEDIA QUERIES **/
@media (max-width: 960px) {
    .sidebar-left {
        font-size: 90%;
        width: 100%;
    	height: auto;
    }   

    .sidebar-projects {
    	display: inline-block;
    	width: 100%;
    	text-align: center;
    	height: auto;
    	padding-top: 0px;
    }

    .sidebar-projects a {
    	display: inline-block;
    	padding-right: 10px;
    }

    .carousel-front {
    	display: inline-block;
    	width: 100%;    
    }

    .search input {
    	width: 100%;
    	padding-top: 20px;
    	font-size: 13px;
    }
}