#reseaux_sociaux,#problemes_projets {
	margin-top:20px;
	margin-bottom:30px;
	font-size: 15pt;
}
#reseaux_sociaux a,#problemes_projets a{
	display:block;
	padding-right:10px;
	padding-left:10px;
	text-shadow:none;
	text-decoration:none;
}
#reseaux_sociaux #facebook:hover{
	color: #3b5998;
}
#reseaux_sociaux #twitter:hover{
	color: #55ACEE;
}
#reseaux_sociaux #googleplus:hover,#problemes_projets #plainte:hover{
	color: #dd4b39;
}