.container-register {
	text-align: center;
}

p {
	margin-right: 5px;
	font-size: 4em;
}

#icons {
	margin: 50px auto;
}

a {
	padding: 0px 20px;
}

.icon {
	display: inline-block;
}

.icon a {
	display: block;
}

.icon .texte {
	display: block;
	padding-top: 20px;
	font-size: 32px;
	font-weight: 300;
}

#icons img:hover {
	opacity: 0.86;
}