p, label {
	color:white;
	margin-right: 5px;
	font-size: 1.9em;
}
#body {
	width:500px;
	margin-left:auto;
	margin-right: auto;
	margin-top:9%;
}
input[type=file] {
	color:white;
}

.btn-primary{
	margin-top:20px;
	margin-bottom:10px;
	background-color: #E6E6E6;
	color:black;
	border-color:#E6E6E6;
}

.select{
	margin-top:20px;
	margin-bottom:10px;
	background-color: #E6E6E6;
	color:black;
}

.btn .btn-primary .btn-lg .btn-block {
	margin-top:20px;
	margin-bottom:10px;
	background-color: #E6E6E6;
	color:black;
	border-color:#E6E6E6;
}

#asso:hover{
	background-color: #045FB4;
	border-color:#045FB4;
}

#part:hover{
	background-color: #04B404;
	border-color:#04B404;
}

#entr:hover{
	background-color: #B40404;
	border-color:#B40404;
}