#title-page {
	margin: 0;
}

.connexion {
	width: 400px;
	padding: 20px;
	margin: 0px auto;
}

.connexion p {
	text-align: center;
	padding-bottom: 15px;
}

.connexion-content input {
	border: none;
	padding-bottom: 8px;
	width: 100%;
	border-bottom: 1px solid #5A5F69;
}

.connexion-content input:focus {
	border: none;
	outline:  none;
	border-bottom: 1px solid #5A5F69;
}

.connexion .btn-success {
	background: #73D78C;
	text-transform: uppercase;
	letter-spacing: 6px;
	text-align: center;
	border: none;
	border-radius: 0px;
}

.connexion .btn-success:hover {
	opacity: 0.85;
}

.connexion-footer {
	text-align: center;
}

.resetting {
	width: 400px;
	padding: 20px;
	margin: 0px auto;
}

.connexion p {
	text-align: justify;
	padding-bottom: 15px;
}

.connexion-content input {
	border: none;
	padding-bottom: 8px;
	width: 100%;
	border-bottom: 1px solid #5A5F69;
}

.connexion-content input:focus {
	border: none;
	outline:  none;
	border-bottom: 1px solid #5A5F69;
}

.connexion .btn-success {
	background: #73D78C;
	text-transform: uppercase;
	letter-spacing: 6px;
	text-align: center;
	border: none;
	border-radius: 0px;
}

.connexion .btn-success:hover {
	opacity: 0.85;
}

.connexion-footer {
	text-align: center;
}

