.head-site {
	width: 100%;
	background-color: rgb(235, 149, 50);
	position: relative;
	height: 200px;
	text-align: center;
}

.head-site img {
	position: absolute;
	display: block;
	left: calc( 50% - 450px);
}

.head-site h1 { 
	position: absolute;
	left: 0;
	right: 0;
	vertical-align: middle;
	color: #fff;
	line-height: 200px;
	margin: 0;
}