.menu, .sous-menu{
	padding:0;
	margin:0;
	position:fixed;
	height:100%;
	background-color: #ececec;
	border-color: #e7e7e7;
	z-index:2;
	-webkit-clip-path: polygon(0px 100%,300px 100%,400px 0px,0px 0px);
	width:400px;
	margin-top:15px;
}

.menu ul{
	-webkit-padding-start:0;
}

.sous-menu{
	display:none;
	z-index:1;
	margin-left:300px;
	opacity:0.8;
}

.tab-content ul{
	border:0;
	padding-top:75px;
}

.menu li{
	width:100%;
	display:block;
	padding:0 20px;
	font-size:1.5em;
}

.sous-menu li{
	width:100%;
	display:block;
	padding:0;
	font-size:1.5em;
}

.menu li a,.sous-menu li a{
	margin:0;
	padding:2px 0px;
	color:#777;
	
}

.sous-menu li a{
	padding:2px 100px;
}

.menu li a:hover{
	margin:0;
	border:0;
	color:#428bca;
	text-decoration:none;
	padding:2px 0px;
}

.menu li:hover{
	padding-left:15px;
	border-left:5px solid #428bca;
}

.sous-menu li a:hover{
	border:0;
	margin:0;
	border:0;
	padding:2px 100px;
	color:#428bca;
	text-decoration:none;
}

#CategoryTitle{
	color:#777;
	padding-left:20px;
}

.apercu{
	z-index:0;
	width:100%;
	height:250px;
	margin:5px 0;
	background:black;
}

.apercu img{
	position:absolute;
	width:100%;
	height:250px;
}

.filtre{
	background:rgba(10,10,10,0.4);
	position:absolute;
	right:0;
	width:100%;
	height:250px;
}

.nom_asso{
	position:absolute;
	right:0;
	color: white;
	font-size: 15pt;
	margin-top: 10px;
	margin-right: 200px;
}

.titre_projet{
	text-align:right;
	font-size:25pt;
	color:white;
	text-transform:uppercase;
	margin-top:35px;
	margin-right: 200px;
}

.besoin{
	position:absolute;
	right:0;
	text-align:right;
	max-height:150px;
	font-size:12pt;
	width:300px;
	color:white;
	margin-right: 200px;
	margin-top:10px;
	overflow:hidden;
}

.box{
	display:inline-block;
	width:200px;
	overflow:hidden;
}

.diagramme {
	position:absolute;
	right:0;
	top:50px;
	width:150px;
	height:150px;
	margin-right:25px;
}

.pie, svg, .pie-content {
	position:absolute;
}

.pie {
	list-style:none;
	-webkit-padding-start:0;
}

svg {
	z-index:2;
}

.pie-content {
	z-index:3;
	color:white;
	width:150px;
	height:150px;
	text-align:center;
	padding-top:40px;
}

.pie-content .percentage {
	font-size:25pt;
	margin-bottom:5px;
}

#text-ressource-info{
	color:grey;
	font-weight:bold;
}

#text-ressource-financiere{
	color:#d9534f;
	font-weight:bold;
}

#text-ressource-humaine{
	color:#5bc0de;
	font-weight:bold;
}

#text-ressource-materiel{
	color:#5cb85c;
	font-weight:bold;
}