body {
	background: #eee;
}

/**** BANNER ****/
#banner {
	width:100%;
	height:300px;
    position:absolute;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);

	filter: blur(2px);
}

#label {
	color:rgb(138, 202, 139);
	padding:10px 25px;
	border:3px solid rgb(138, 202, 139);
	border-radius:5px;
	width:200px;
}
.logo-name {
	padding: 60px;
	width: 100%;
	background: black;
}
.logo-username {
	display:inline-block;
	margin-left:20px;
	vertical-align: middle;
	width: calc(100% - 250px);
}
.logo-name h1, .logo-name h2 {
	color:#fff;
	margin:0;
}
.logo-name h1 {
	font-size:30pt;
}
.logo-name h2 {
	font-size: 12pt;
}
#logo {
	width:150px;
	height:150px;
	margin-left:25px;
}
#block-body {
	padding-bottom:80px;
}
.reseaux_sociaux {
	display:inline-block;
	margin-top:5px;
	margin-left:5px;
}
span.fa.fa-facebook {
	width: 13px;
}
textarea {
	width:100%;
	height:179px;
	resize: none;
}
/**** TAB BOX ****/
.inner-left, .inner-right {
	width:50%;
	vertical-align: top;
	display:inline-block;
}
.inner-right {
	float:right;
}
.tab-box.full img {
	margin-bottom: 10px;
	width:95%;
	height: 250px;
}
/**** MENU ****/
.panel-heading {
	padding:0;
	width:100%;
}
.content-panel-heading {
	text-align: center;
	height:30px;
}
.btn-group {
	margin-top:15px;
    text-align: center;
    display: inline-block;
}
.nav-tabs {
	border:none;
}
.nav-tabs li.active {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs li {
	padding:0;
}
.nav-tabs li:hover {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border:1px solid #fff;
	color:#428bca;
	background-color:#fff;
}
.nav-tabs>li>a, .nav-tabs>li>input {
	border:1px solid #fff;
	color:grey;
	background-color:#fff;
	position: relative;
	display: block;
	padding: 10px 15px;
}
/**** ACHIEVEMENTS ****/
.achievement {
	border:1px solid rgb(20, 178, 28);
	overflow: hidden;
	position: relative;
	min-height: 150px;
	width:600px;
}
.achievement-content {
	width:70%;
}
.achievement-content h1 {
	color: rgb(20, 178, 28);
}
.achievement-desc {
	margin-left:20px;
	font-style: italic;
	color:#999999;
}
.achievement-logo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
	width:25%;
}
.achievement-logo img{
	height:100%;
	width:100%;
}
/**** TIMELINE ****/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  width: 80%;
  margin: 50px auto;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  right: 25px;
  margin-left: -1.5px;
  border-radius: 5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  background-color: #fff;
}
.timeline > li > .timeline-panel:before, .timeline > li > .timeline-panel:after {
	position: absolute;
	display: inline-block;
	content: " ";
}
.timeline > li > .timeline-panel:before {
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
}
.timeline > li > .timeline-panel:after {
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
}
.timeline-heading > h3 {
	margin-top:0;
	font-style: italic;
}
.timeline > li > .timeline-badge {
	position: absolute;
	top: 16px;
	right: 0px;
}
.timeline > li > .timeline-badge > img {
	height:50px;
	width:50px;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p, .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.date-notif {
	position:absolute;
	top:10px;
	right:10px;
}
/** NEW STYLE **/
.profile-navigation {
	display: none;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	z-index: 1;
	background: white;
	border-radius: 4px;
	padding: 6px;
	cursor: pointer;
}

.profile-navigation .menu-navigation {
	height: 2px;
	width: 20px;
	background: black;
	margin: 4px 8px;
	margin-left: 0;
}

.block-new-project {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	padding: 30px;
	background: rgb(53, 53, 53);
	width: 25%;
}

.profile-left-menu {
	display: inline-block;
	width: 25%;
	background: rgb(72, 72, 72);
	position: fixed;
	height: 100%;
	padding-top: 10px;
	color: #FFFFFF;
}

.profile-left-menu-title {
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.profile-left-menu-subtitle {
	text-transform: lowercase;
	font-size: 12px;
	letter-spacing: 10px;
}

.profile-menu {
	margin-top: 40px;
}

.profile-menu-title {
	text-indent: 30px;
	color: rgb(158, 158, 158);
	text-transform: uppercase;
}

.profile-menu-content {
	margin-top: 10px;
}

.profile-menu a {
	display: block;
	padding: 10px 0px;
	font-size: 18px;
	font-weight: 400;
	text-indent: 12px;
	border-left: 5px solid rgb(72, 72, 72);
	color: rgb(158, 158, 158);
	text-decoration: none;
}

.profile-menu a:hover, .profile-menu a.active {
	background: rgb(65, 65, 65);
	border-left: 5px solid rgb(72, 149, 217);
	color: #FFFFFF;
}

.profile-menu a i {
	margin-right: 10px;
}

.profile-content {
	display: inline-block;
	margin-left: 25%;
	width: 75%;
}
/** MEDIA QUERIES **/
@media (min-width: 960px) {
	.profile-left-menu {
		display: inline-block;
	}
}

@media (max-width: 960px) {
	.content-panel-heading {
		display: none
	}

	.profile-navigation {
		display: inline-block;
	}

	.block-new-project {
		width: 100%;
	}

	.profile-left-menu {
		display: none;
		width: 100%;
	}

	.profile-menu a {
	}

	.profile-content {
		margin-left: 0;
		width: 100%;
	}
}

/* --------------------- */
/* -- MODAL CONNEXION -- */
/* --------------------- */
.modal-message-dialog {
	width: 600px !important;
	margin: 20px auto;
}
.modal-message-content {
	margin: auto;
}
.modal-message-header {
	background: #5A5F69;
	padding: 6px 12px;
}

.modal-message-title {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 8px;
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	padding: 12px 0px;
	margin: 0;
}

.modal-message-body {
	background: #FFFFFF;
	padding-bottom: 20px;
	line-height: normal;
}
.modal-message-body p:before, .modal-message-body p:after {
	position: absolute;
	display: inline-block;
	content: " ";
}
.modal-message-body p:before {
  right: -15px;
  border-top: 15px solid transparent;
  border-left: 15px solid rgb(90, 95, 105);
  border-right: 0 solid rgb(90, 95, 105);
  border-bottom: 15px solid transparent;
}
.modal-message-body p:after {
  top: 11px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left: 14px solid rgb(232, 232, 255);
  border-right: 0 solid rgb(232, 232, 255);
  border-bottom: 14px solid transparent;
}
.modal-message-body p {
	padding: 10px;
	margin: 20px 80px;
	border: 1px solid rgb(90, 95, 105);
	background: rgb(232, 232, 255);
	border-radius: 5px;
	min-height: 60px;
  	position: relative;
}

.modal-message-body input {
	padding: 8px;
	width: 80%;
	height: 35px;
	display:inline-block;
	border-bottom: 1px solid #5A5F69;
}

.modal-message-body input:focus {
	border: none;
	outline:  none;
	border-bottom: 1px solid #5A5F69;
}

.modal-message-body input.btn {
	width:20%;
	border-radius: 0;
	border:none;
}
.modal-message-footer {
	background: #5A5F69;
	padding: 16px;
	text-align: center;
}

/** BADGES **/
.badge-profil {
	display: inline-block;
	vertical-align: top;
	margin: 20px 40px;
	text-align: center;
}

.badge-profil img {
	margin: 10px 0;
	width: 64px;
	height: 64px;
}

.badge-profil .titre {
	display: block;
}

.badge-profil .description {
	display: block;
	margin: 0px auto;
	margin-top: -60px;
	width: 100px;
}

.badge-profil .tooltip-inner {
	margin-top: 20px;
}