/**** BLOC TETE DE PRESENTATION PROJET ****/
#block-head {
	width:100%;
	height:610px;
	position:relative;
}
.content {
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(10,10,10,.36);
}
#background-img {
	width:100%;
	height:100%;
}
#infos-asso, #project-title, #project-ressources{
	width:100%;
	position:relative;
	z-index:1;
}
/**** INFORMATIONS HEADER ASSOCIATION ****/
#infos-asso {
	height:150px;
}
#content-infos{
	width:700px;
	height:100%;
	float:right;
	padding-left:80px;
	padding-top:10px;
	background-color: rgba(200,200,200,.6);
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(70px 150px,100% 150px,100% 0px,20px 0px);
}
#content-infos-second-row {
	width:100%;
	padding-right:10px;
	float:right;
}
#infos-asso h1 {
	color:white;
	font-size:18pt;
	margin-right:30px;
	padding-top:10px;
	margin-top:0px;
}
#town-asso {
	display:inline;
	color:white;
	float:left;
}
#content-infos a {
	margin-top:10px;
	background:none;
	color:white;
}
/**** RESEAUX SOCIAUX ASSOCIATION ****/
#reseaux_sociaux {
	display:inline;
	float:right;
}
#reseaux_sociaux a{
	padding-right:10px;
	padding-left:10px;
	color: white;
	text-shadow:none;
	text-decoration:none;
}
#reseaux_sociaux #facebook:hover{
	color: #3b5998;
}
#reseaux_sociaux #twitter:hover{
	color: #55ACEE;
}
#reseaux_sociaux #googleplus:hover{
	color: #dd4b39;
}
/**** CONTENEUR TITRE PROJET ****/
#project-title {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:210px;
	font-size:35pt;
	color:white;
	text-transform:uppercase;
	vertical-align:middle;
	padding-top:30px;
	padding-bottom:30px;
}
/**** CONTENEUR RESSOURCES ****/
#project-ressources {
	height:250px;
	position:relative;
	width:100%;
}
#content-ressources {
	width:100%;
	height:100%;
	/*-webkit-clip-path: polygon(0px 250px,100% 250px,100% 0px,155px 0px);*/
}
#content-ressources #diagramme {
	position:relative;
	width:150px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	pointer-events:none;
}
.pie, #content-ressources svg, .pie-content {
	position:absolute;
}
.pie {
	-webkit-padding-start:0;
}
#content-ressources svg {
	z-index:2;
}
.pie-content {
	z-index:3;
	color:white;
	width:150px;
	height:150px;
	text-align:center;
	padding-top:40px;
}
.pie-content .percentage {
	font-size:25pt;
	margin-bottom:5px;
}
#content-ressources a {
	position:relative;
	display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background:none;
	color:white;
}
#text-ressources {
	position:absolute;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	right:0;
	left:0;
}
#left-ressources, #right-ressources {
	width:300px;
	height:150px;
	font-size:20pt;
}
#left-ressources {
	float:left;
	color:green;
}
#right-ressources {
	float:right;
	text-align:right;
	color:red;
}
#text-ressource-info, #text-ressource-financiere, #text-ressource-humaine, #text-ressource-materiel {
	height:50%;
	padding-top:20px;
	padding-bottom:20px;
	cursor:default;
}
#text-ressource-info {
	color: grey;
}
#text-ressource-financiere {
	color: #d9534f;
}
#text-ressource-humaine {
	color: #5bc0de;
}
#text-ressource-materiel {
	color:#5cb85c;
}
/**** MENU ****/
.panel-heading {
	padding-top:20px;
	width:100%;
	text-align: center;
}
.btn-group {
	margin: 0 auto; 
    text-align: center;
    display: inline-block;
}
.nav-tabs {
	border:none;
}
.nav-tabs li.active {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs li {
	padding:0;
}
.nav-tabs li:hover {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border:1px solid #fff;
	color:#428bca;
	background-color:#fff;
}
.nav-tabs>li>a {
	border:1px solid #fff;
	color:grey;
	background-color:#fff;
}
/**** BLOC CORPS DE PRESENTATION PROJET ****/
#block-body {
	background-color:#eee;
	margin-top:1px;
	padding-bottom:80px;
}
.tab-title {
	width:65%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
}
/**** BOITES DANS LES SOUS MENUS ****/
.tab-box {
	background-color:#fff;
	border-radius: 5px;
	width:45%;
	min-height:300px;
	display:inline-block;
	padding:10px;
	vertical-align:top;
	margin-left:2%;
	margin-right:2%;
	margin-top:20px;
	border:1px solid rgba(0,0,0,.1);
}
.tab-box h1 {
	font-size:20pt;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
}
.tab-box h2 {
	font-size:16pt;
}
.tab-box p {
	font-size:12pt;
}
.tab-box img {
	width:100%;
	height: auto;
}
.tab-box.full {
	width: 95%;
}
.tab-box.full p {
	text-align:center;
}
.tab-box.full img {
	width:500px;
	height: 300px;
	border:1px solid rgba(0,0,0,0.2);
}
.tab-box.aside {
	width:25%;
}
.tab-box.aside a{
	width:100%;
}
.tab-box.full.aside {
	width:65%;
}
/**** COMMENTAIRES ****/
.tab-box.comment {
	min-height:0;
}
.tab-box.comment .comment-author, .tab-box.comment .comment-date, .tab-box.comment .comment-avatar, .tab-box.comment .comment-hour {
	display: inline-block;
}
.tab-box.comment .comment-author{
	font-size:12pt;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:10px;
}
.tab-box.comment .comment-avatar img{
	width:50px;
	height:50px;
	border-radius:25px;
	border:1px solid rgba(0,0,0,.3);
}
.tab-box.comment .comment-hour {
	margin-left:5px;
}
.tab-box.comment .comment-date {
	float:right;
}
.tab-box.comment p {
	border-top:1px solid #eee;
	margin-top:5px;
	padding-top:5px;
	margin-left: 55px;
}