h3{
	color:white;
	text-align: center;
	padding: 100px;
	font-size: 2.5em;
}

#form{
	width:40%;
	height:100%;
	font-weight: 600;
	color:white;
	
}

label{
	font-size: 1.2em;
}

#liens{
	display:block;
	margin:auto;
	font-size: 9pt;
	margin-left: 100px;
	padding-left:150px;
}

#checkbox{
	font-size:7pt;
	margin-left: 100px;
	padding-left:150px;
}

