/**** BLOC TETE DE PRESENTATION PROJET ****/
#block-head {
	width:100%;
	height:610px;
	position:relative;
}
.content {
	position:absolute;
	width:100%;
	height:100%;
}
#background-img {
	width:100%;
	height:100%;
}
#infos-asso, #project-title, #project-ressources{
	width:100%;
	position:relative;
	z-index:1;
}
#infos-asso {
	height:150px;
}
#content-infos{
	width:700px;
	height:100%;
	float:right;
	padding-left:100px;
	padding-top:10px;
	background-color: rgba(150,150,150,.4);
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(8px 150px,700px 150px,700px 0px,100px 0px);
}
#content-infos-second-row {
	width:100%;
	padding-right:10px;
	float:right;
}
#infos-asso h1 {
	color:white;
	font-size:18pt;
	margin-right:30px;
	padding-top:10px;
	margin-top:0px;
}
#town-asso {
	display:inline;
	color:white;
	float:left;
}
#reseaux_sociaux {
	display:inline;
	float:right;
}
#reseaux_sociaux a{
	padding-right:10px;
	padding-left:10px;
	color: white;
	text-shadow:none;
	text-decoration:none;
}
#reseaux_sociaux #facebook:hover{
	color: #3b5998;
}
#reseaux_sociaux #twitter:hover{
	color: #55ACEE;
}
#reseaux_sociaux #googleplus:hover{
	color: #dd4b39;
}
#content-infos a {
	margin-top:10px;
	background:none;
	color:white;
}
#project-title {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:210px;
	font-size:35pt;
	color:white;
	text-transform:uppercase;
	vertical-align:middle;
	padding-top:30px;
	padding-bottom:30px;
}
#project-ressources {
	height:250px;
}
#content-ressources {
	width:980px;
	height:100%;
	float:right;
	background-color: rgba(150,150,150,.4);
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 250px,980px 250px,980px 0px,155px 0px);
}
#content-ressources #diagramme {
	position:relative;
	width:150px;
	height:150px;
	margin-left:400px;
	margin-top:20px;
}
.pie, #content-ressources svg, .pie-content {
	position:absolute;
}
.pie {
	-webkit-padding-start:0;
}
#content-ressources svg {
	z-index:2;
}
.pie-content {
	z-index:3;
	color:white;
	width:150px;
	height:150px;
	text-align:center;
	padding-top:40px;
}
.pie-content .percentage {
	font-size:25pt;
	margin-bottom:5px;
}
#content-ressources a {
	position:relative;
	margin-left:400px;
	margin-top:20px;
	background:none;
	color:white;
}
/**** MENU ****/
.panel-heading {
	padding-top:20px;
	width:100%;
	text-align: center;
}
.btn-group {
	margin: 0 auto; 
    text-align: center;
    display: inline-block;
}
.nav-tabs {
	border:none;
}
.nav-tabs li.active {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs li {
	padding:0;
}
.nav-tabs li:hover {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border:1px solid #fff;
	color:#428bca;
	background-color:#fff;
}
.nav-tabs>li>a {
	border:1px solid #fff;
	color:grey;
	background-color:#fff;
}
/**** BLOC CORPS DE PRESENTATION PROJET ****/
#block-body {
	background-color:#eee;
	margin-top:1px;
	padding-bottom:80px;
}
.panel-body {
	
}
.tab-title {
	width:800px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.tab-box {
	background-color:#fff;
	border-radius: 10px;
	width:500px;
	min-height:300px;
	display:inline-block;
	padding:10px;
	vertical-align:top;
	margin:20px;
}
.tab-box h1 {
	font-size:14pt;
	padding-bottom:5px;
	border-bottom:1px solid #eee;
}
.tab-box p {
	font-size:12pt;
}
.tab-box img {
	width:100%;
	height:250px;
}