@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
@import url('http://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: GothamMedium;
    src: url('../fonts/Gotham Medium.otf');
}
@font-face {
    font-family: GothamLight;
    src: url('../fonts/Gotham Light.otf');
}
@font-face {
    font-family: Avenir;
    src: url('../fonts/AvenirLTStd-Book.otf');
    font-weight: 100;
}

body { 
  font-family: 'Avenir';
  font-size: 13px;
  background: #34495E;
}
.profile-navigation {
  display: none;
}

.btn {
  font-family: 'GothamMedium';
  font-size:12px !important;
}

.alert-top {
  width: 100%;
  top: 50px;
  background-color: rgb(116, 184, 164);
  color: #FFFFFF;
  z-index: 10;
  position: fixed;
  padding: 16px;
  text-align: center;
}

/*** NAVIGATION ***/
nav {
  height:50px;
  width:100%;
  background: #ECECEC;
  position:fixed;
  top: 0;
  z-index:1010;
}
nav > .navigation-bar {
  width:80%;
  margin:0 auto;
  position: relative;
}
.navigation-bar-right {
  position: absolute;
  right: 0;
  height: 50px;
}
.nav-content {
  position: absolute;
  width: 100%;
}
nav .navigation-bar .nav-content > div {
  height:100%;
  width: calc(50% - 50px);
  display:inline-block;
  vertical-align: top;
  list-style-type: none;
}
nav .navigation-bar .nav-left-part {
  text-align:right;
  margin-right:20px;
}
nav .navigation-bar .nav-right-part {
  text-align: left;
  margin-left:20px;
}
nav .navigation-bar .nav-middle-part {
  width: 50px!important;
}
nav > .navigation-bar .nav-content li {
  height:50px;
  display:inline-block;
  color:black;
  width:150px;
  vertical-align: top;
  text-align: center;
}
nav > .navigation-bar .nav-content li a{
  color: #333;
  display: inline-block;
  width:100%;
  height:100%;
  padding: 15px 0;
  text-decoration: none;
  font-family: 'GothamMedium';
}

nav > .navigation-bar .nav-content li a:hover{
  background-color: transparent;
  border-bottom: 5px solid #3498DB;
  padding-bottom: 10px;
  transition: all 0.5s;
}

nav .navigation-bar .nav-middle-part li{
  width:50px!important;
}
nav .navigation-bar .nav-middle-part a {
  padding: 0!important;
}
nav .navigation-bar .nav-middle-part a:hover {
  border:none!important;
}
nav .navigation-bar .nav-middle-part img {
  width:50px;
  height:50px;
}

.navigation-bar-right li {
  display:inline-block;
  list-style-type: none;
  height: 50px;
  vertical-align: top;
}
.navigation-bar-right a {
  height:50px;
  vertical-align: middle;
  display: block;
  padding: 8px 10px;
  font-size: 22px;
  color: rgb(72, 72, 72);
}
.navigation-bar-right a:hover, .navigation-bar-right a:focus {
  outline: none;
  text-decoration: none;
  color:rgb(53, 152, 219);
}
.navigation-bar-right img {
  height:35px;
  width:35px;
  border-radius:17.5px;
  border:1px solid #333;
}
#drop-user:focus {
  background: rgb(250, 250, 250);
  color:#333;
}
.navigation-bar-right .dropdown-menu {
  margin-top:0;
  border-radius: 0;
  background: rgb(250, 250, 250);
  left: -100px;
}
.navigation-bar-right .dropdown-menu li {
  width: 100%;
  height: 30px;
}
.navigation-bar-right .dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-bar-right .dropdown-menu li a {
  width: 100%;
  font-size: 18px;
  height: 100%;
  padding: 2px 10px;
  color: #333;
}
.navigation-bar-right .dropdown-menu li a i{
  margin-right:5px;
}
.navigation-bar-right .dropdown-menu li a:hover {
  background:rgba(100,100,100,.2);
}
.navigation-bar-right .badge {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: red;
  margin-top: 13px;
  padding: 0;
}
.navigation-bar-right .badge a{
  color: white;
  font-size: 14px;
  height: 25px;
  padding: 5px 0;
  font-family: 'Lato';
}

@media (max-width: 1024px) {
  nav > .navigation-bar {
    width: 100%;
  }
}
@media (max-width: 960px) {
  nav > .navigation-bar .nav-content li {
    width: auto;
    margin: 0 15px;
  }
  nav .navigation-bar .nav-middle-part li{
    margin:0;
  }
}
@media (max-width: 800px) {
  .nav-left-part {
    margin-right:0!important;
  } 
  .nav-right-part {
    margin-left:0!important;
  } 
}
/*** MAIN ***/
#main {
	margin-top: 50px;
}

.btn-success {
  background-color: #5FCF80;
  border: none;
  font-size: 13px !important;
  letter-spacing: 2px;
}

/*** BARRE DE RECHERCHE ***/
#search-content {
  text-align: center;
}
.search {
  height: 60px;
  width: 100%;
  background: #D8D8D8;
  cursor: text;
}

.search #search-bar {
  width: 70%;
  height: 100%;
  display: inline-block;
}

.search #search-button {
  width: 30%;
  height: 100%;
  padding-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.search input {
  display: block;
  float: right;
  width: 100%;
  margin-right: 20px;
  padding-left: 38%;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 16px;
  color: #4A4A4A;
}

.search input:focus {
  border: none;
  outline: none;
}

.search button {
  border: none;
  color: #3498DB;
  background: none;
  font-size: 18pt;
}

::-webkit-input-placeholder {
    color: #4A4A4A;
}
:-moz-placeholder {
    color: #4A4A4A;
}
::-moz-placeholder {
    color: #4A4A4A;
}
.selectors {
  display: inline-block;
  text-align: center;
  margin: 0px auto;
}

.selector {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin: 0px 20px;
  margin-bottom: -4px;
}

.selector .select {
  padding: 15px 0px;
  background: #FFFFFF;
  cursor: pointer;
  position:absolute;
  width:100%;
  height:100%;
  font-size: 13px;
}

.selector .select.active {
  background: rgba(216, 216, 216, 0.25);
  color: #FFFFFF;
  font-weight: 400;
  transition: all 0.5s;
}

.selector .select:hover {
  background: rgba(216, 216, 216, 0.5);
  color: #FFFFFF;
  font-weight: 400;
  transition: all 0.5s;
}
.selector .container-select {
  width:240px;
  height:50px;
  display:block;
  position:relative;
  margin: 0;
}

.selector .checkmark {
  position: absolute;
  right: 20px;
  top: 16px;
  color: #22D022;
  pointer-events:none;
}

/**** ICONES ****/
.icon-medium {
  width: 40px;
}

/**** FOOTER ****/
footer {
  text-align: center;
  position: absolute;
  width: 100%;
}
footer #footer-top {
  background: #272E35;
  margin:0 auto;
  display: block;
  width:100%;
}
footer #footer-bottom {
  height:40px;
  background: #191F27;
  display: block;
}
#footer-bottom {
  color:#fff;
  line-height: 40px;
  vertical-align: middle;
}
#footer-top section {
  display:inline-block;
  color:#4A4A4A;
}
#footer-top h1 {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 36px;
  font-weight: 300;
  color:rgb(221, 221, 221);
}
#footer-top h1 .blue {
  color: #3498DB;
}
#footer-top h2 {
  text-transform: lowercase;
  letter-spacing: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color:rgb(141, 145, 145);
}
#footer-top section hr {
  width:65%;
  border-color:#919191;
}
#footer-top .social {
  display: inline-block;
  margin:0 10px;
}
#footer-top section + section {
  border-left:1px solid #919191;
  margin:15px;
  padding:5px 20px;
  text-align: left;
}
#footer-top section h4 {
  font-size: 20px;
  margin:0;
  margin-bottom: 6px;
  font-weight: bold;
  letter-spacing: 2px;
  color:rgb(221, 221, 221);
}
#footer-top ul {
  list-style: none;
  padding:0;
  margin:0;
}
#footer-top ul li a {
  color:#B6B6B6;
  line-height: 26px;
  font-size: 12px;
}
#toggle-menu {
  display:none;
}
.navigation-bar-left {
  display:none;
  list-style: none;
  position: absolute;
  left:50%;
  margin-left:-25px;
}
.navigation-bar-left img {
  width:50px;
  height:50px;
}
.nav-content-res {
  display:none;
  position: absolute;
  top:50px;
  width:100%;
  list-style: none;
  border-top:1px solid #E5E5E5;
}
.nav-content-res li {
  width:100%;
}
.nav-content-res li a{
  background:#ECECEC;
  width:100%;
  display: block;
  color:#484848;
  line-height: 40px;
  font-size: 14px;
  padding-left:20px;
  font-weight: bold;
}
.nav-content-res li a:hover{
  background: #E0E0E0;
  color: #3498DB;
  text-decoration: none;
}
#toggle-menu {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 25px;
  background: #fff;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
}
@media (max-width: 760px) {
  #toggle-menu {
    display:block;
  }
  .nav-content {
    display:none;
  }
  .nav-content .nav-middle-part {
    display:none!important;
  }
  .navigation-bar-left {
    display:block;
  }
}