/**** CARROUSEL ****/
.carousel {
	width:100%;
	height:302px;
	margin-top:20px;
	margin-bottom:40px;
}
#carousel-horizontal {
	/*filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	filter: url('../svg/carouselFlou.svg#blur'); /* for Firefox */
	
	margin-left:150px;
}
#carousel-horizontal li {
	background:#ccc;
	color:#666; 
	float:left;
	font-weight:bold;
	font-size:3em;
	list-style:none;
	text-align:center;
	width: 400px;
	height: 300px;
	position:relative;
}
#carousel-horizontal ul li img{
	width:500px;
	height:300px;
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 300px,400px 300px,500px 0px,100px 0px);

	/* Firefox*/
	clip-path: url(../svg/carouselImg.svg#svgClip);
}
#carousel-horizontal ul {
	height:300px;
	margin:0;
	padding:0;
}
#carousel-horizontal ul li div{
	position:absolute;
}
.carousel .project-title {
	margin-left:100px;
	width:400px;
	text-align:center;
	z-index:2;
	color:white;
	font-size:16pt;
	padding:10px 10px;
	background-color: rgba(100,100,100,0.5);
}

/**** MENU CAROUSEL ****/
#menu_carousel {
	position:absolute;
	width: 300px;
	height: 300px;
	background-color: #b7b7ba;
	z-index:3;
	
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 300px,150px 300px,250px 0px,0px 0px);

	/* Firefox*/
	clip-path: url(../svg/carouselMenu.svg#svgClip);
}
#menu_carousel a {
	margin-top:25px;
	padding-left:30px;
	display:block;
	font-size:18pt;
	color: #888687;
}
#menu_carousel .selected {
	border-left:6px solid #63a2e8;
	padding-left:24px;
	color: #63a2e8;
}
#menu_carousel a:hover , #menu_carousel a:focus{
	text-decoration:none;
	border-left:6px solid #63a2e8;
	padding-left:24px;
	color: #63a2e8;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	position:absolute;
	color:white;
	font-size: 30px;
	z-index:3;
	pointer-events:none;
	margin-top:135px;
}
.glyphicon-chevron-left {
	margin-left:230px;
}
.glyphicon-chevron-right {
	right:0;
	margin-right:30px;
}

/**** BARRE DE RECHERCHE ****/
.search-default {
	background-color:rgba(100,100,100,0.5);
	border:none;
	margin-top:30px;
	margin-bottom:30px;
	height:85px;
	
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.search {
	width:100%;
	padding:0;
}
.search-default form{
	width: 50%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}
.search-default form input, .search-default form input:focus {
	border:none;
	color: #a8a1a0;
	padding: 16px 12px;
	font-size: 14pt;
	box-shadow: none;
	height:80px;
	background:none;
}
.search-default .glyphicon-search {
	font-size:25px;
}
.input-group {
	width:100%;
}
.search-default button, .search-default button:hover, .search-default button:active, .search-default button:focus {
	border-width: 0px;
	color: #a8a1a0;
	background:none;
	border:none;
	outline:none;
}
.search-default button:hover {
	color:#449cfa;
}

/**** DRAG & DROP BOUTONS ****/
.dragdrop-button-container {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}
.dragdrop-button-container p{
	text-align:center;
	color:white;
	font-size:18pt;
	margin-bottom:25px;
}
.dragdrop-button-container ul {
	width:49%;
	display:inline-block;
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
}
.dragdrop-button-container ul li{
	z-index:4;
	cursor:move;
	margin:5px;
	background:none;
}