#main h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
}
#main p {
	color: #fff;
	font-size: 18px;
	text-align: center;
  	margin: 0 10px;
	margin-bottom: 40px;
}
#main .btn {
	display: block;
	width: 300px;
	margin: 10px auto;
	position:relative;
}
#main i.fa {
  position: absolute;
  right: 10px;
  top: 8px;
}