#main {
	color: #fff;
	text-align: center;
}

#main h1 { 
	font-size: 4em;
}

.head-registration {
  width: 100%;
  background-color: rgb(36, 116, 169);
  position: relative;
  height: 200px;
  text-align: center;
}

.head-registration img {
  position: absolute;
  display: block;
  left: calc( 50% - 500px);
}

.head-registration h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 65px;
}

.form-register label {
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background: #2ECC71;
	vertical-align: middle;
	font-size: 28px;
}

.form-register label i {
	margin-top: 10px;
}

.form-register input, .form-register textarea, .form-register select {
	display: inline-block;
	width: 85% !important;
	vertical-align: middle;
	height: 50px;
	margin-top: -6px;
	border: none;
	color: #333;
	font-size: 18px;
	text-align: left !important;
	padding-left: 16px;
	
border-radius: 0px;
}

.form-register input:focus, .form-register textarea:focus, .form-register select:focus {
	border:none;
	outline: none;
}

.form-register .input-group .btn {
	margin-top: 15px;
	margin-bottom: 20px;
	width: auto;
	background: #999;
	color: #333;
	border: none;
	padding: 0 6px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
}

.form-register .input-group .btn:hover {
	background: #AAA;
	color: #333;
}

.form-register .input-group .btn:focus {
	outline: 0;
}
.form-register textarea {
    font-size: 14px;
    height: 100px;
    width: 100% !important;
}

.form-register .btn {
	margin-top: 10px;
	margin-bottom: 20px;
	width: auto;
	background: #2574A9;
	color: #FFF;
}

.form-register .btn:hover {
	background: #FFF;
	color: #5C97BF;
}

#steps {
	text-align: center;
	width: 980px;
	margin: 60px auto;
	position: relative;
}

.line-step {
	width: 940px;
	height: 20px;
	background: #2574A9;
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 1;
}

.step-number {
	background: #2574A9;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 40px;
	position: relative;
	z-index: 2;
	text-align: center;
	color: #FFF;
	font-size: 36px;
}

.step {
	display: inline-block;

	margin-right: 125px;
}

.step-last {
	display: inline-block;
	margin-right: 0px;
}

.step-active {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 30px;
	margin: 0px auto;
	background: #FFF;
	margin-top: 10px;
	color: #2574A9;
}

.step-text {
	font-size: 13px;
	text-align: center;
	width: 100px;
	margin-left: -10px;
	margin-top: 10px;
}

.step a, .step-last a {
	text-decoration: none;
	color: #FFF;
}

div#fos_user_registration_form_logo {
	display: inline-block;
	width: 85%;
	background: white;
	height: 50px;
	padding-top: 20px;
	margin-top: -6px;
	vertical-align: middle;
}

.input-group {
	margin-top: -30px;
}

@media (min-width: 992px) {
	.form-register input, .form-register textarea, .form-register select {
		width: 500px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.step-content {
		width: 500px;
		margin: 0px auto;
	}
}

@media (max-width: 960px) {
	#steps {
		width: 760px;
	}
	.step {
		margin-right: 70px;
	}

	.line-step {
		width: 730px;
		left: 15px;
	}
}

@media (max-width: 768px) {
	#steps {
		width: 90%;
	}
	.step {
		margin-right: 6%;
	}

	.line-step {
		width: 80%;
		left: 10%;
		top: 15px;
		height: 10px;
	}

	.step-text {
		display: none;
	}

	.step-number {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		font-size: 24px;
	}

	.step-active {
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 15px;
		margin-top: 5px;
	}
}