label{
	font-size: 1.2em;
}
#input-checkbox{
	font-size:80%;
}
#header{
	background-color:#226D79;
	color:white;
}
#header a{
	color:#011FFF;
}
.panel-body{
	background-color:#ACC6C9;
}
#loginbox{
	width:60%;
}