body {
	color: #fff;
	padding-top: 50px;
	text-align: center;
}

p#title {
	font-size: 4em;
	color: #fff;
}

#icons {
	margin: 50px auto;
}

a {
	padding: 0px 20px;
}

.icon {
	display: inline-block;
}

.icon a {
	display: block;
}

.icon .texte {
	display: block;
	padding-top: 20px;
	font-size: 32px;
	font-weight: 300;
}

#icons img:hover {
	opacity: 0.86;
}

p {
	width: 960px;
	margin: 20px auto;
	color: rgb(190, 213, 229);
}