/********/
/* PAGE */
/********/
body {
	background: #34495E;
}

.search-content {
	margin: 0;
}

.titre-recherche {
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 10px 0px;
}
.discover-map {
	margin-top: 80px;
}

.btn-discover-map {
	display: inline;
	border: 2px solid #5FCF80;
	padding: 10px 20px;
	border-radius: 4px;
	color: #5FCF80;
	cursor: pointer;
}

.discover-map p {
	margin-top: 18px;
	margin-left: 39%;
	text-align: left;
	color: #FFFFFF;
}
/***********/
/* CONTENU */
/***********/
#content-scrolling {
    overflow: auto;
	position:absolute;
	width:100%;
}
#content > a {
	display:block;
	height:175px;
}
.scrolling-text {
	bottom: 0;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 20px;
	position: fixed;
}
/***********/
/* PROJETS */
/***********/
.apercu{
	z-index:0;
	width: 100%;
	height:175px;
	background:black;
}
.filter{
	background:rgba(0,0,0,0.6);
	position:absolute;
	width:40%;
	height:175px;
	pointer-events:none;
	-webkit-clip-path: polygon(0px 175px,100% 175px,80% 0px,0px 0px);
}
.project-title{  
	font-size: 25px;
	color: white;
	position: absolute;
	margin-top: 30px;
	text-align: center;
	width: calc(40% - 100px);
}
.project-tags {
	font-size: 14px;
	color: white;
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
	width: calc(40% - 100px);
	padding: 0;
	list-style: none;
}
.tag {
	width: 100px;
	text-align: center;
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 12px;
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: #3498db;
	font-family: GothamMedium;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.tag:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #3498db transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}

.tag:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}
/*************/
/* DIAGRAMME */
/*************/
.chart {
	position:absolute;
	right:60px;
	width:105px;
	height:105px;
	margin-top: 35px;
}
.pie, .chart > svg, .pie-content {
	position:absolute;
}
.pie {
	list-style:none;
	-webkit-padding-start:0;
}
.chart > svg {
	z-index:2;
}
.pie-content {
	z-index:3;
	color:white;
	width:105px;
	height:105px;
	text-align:center;
	padding-top:22px;
}
.pie-content .percentage {
	font-size:25px;
}
.pie-content .name {
	font-size:11px;
	color:#aaafb2;
}