.menu,.sous-menu{
	margin-top:40px;
	padding:0;
	position:fixed;
	height:100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	z-index:2;
	-webkit-clip-path: polygon(0px 100%,300px 100%,400px 0px,0px 0px);
	width:400px;
}

.sous-menu{
	display:none;
	z-index:1;
	margin-left:300px;
	opacity:0.8;
}

.tab-content ul{
	border:0;
}

.col-md-6{
	margin:0;
	padding:0;
}

.menu li,.sous-menu li{
	width:100%;
	display:block;
	padding:0;
	font-size:1.5em;
}

.menu li a,.sous-menu li a{
	margin:0;
	padding:2px 20px;
	color:#777;
	
}

.sous-menu li a{
	padding:2px 100px;
}

.menu li a:hover{
	border:0;
	margin:0;
	border:0;
	padding:2px 100px;
	color:#428bca;
	text-decoration:none;
}

.sous-menu li a:hover{
	border:0;
	margin:0;
	border:0;
	padding:2px 100px;
	color:#428bca;
	text-decoration:none;
}

.menu li a:hover{
	border:0;
	padding:2px 20px;
}

#CategoryTitle{
	color:#777;
	padding-left:20px;
}

header{
	position:fixed;
	top:0;
	width:100%;
	z-index:3;
}

footer{
	display:inline-block;
	position:fixed;
	bottom:0;
	height:5%;
	z-index:1;
}

.apercu{
	z-index:0;
	width:100%;
	height:250px;
	margin:5px 0;
	background:black;
}

.apercu img{
	position:absolute;
	width:100%;
	height:250px;
}

.titre_projet{
	padding-top:90px;
	position:absolute;
	right:0;
	text-align:right;
	width:1000px;
	height:210px;
	font-size:35pt;
	color:white;
	text-transform:uppercase;
	vertical-align:center;
	margin-right: 200px;
}

.nom_asso{
	position:absolute;
	right:0;
	color: white;
	font-size: 18pt;
	padding-top: 50px;
	margin-top: 0px;
	margin-right: 200px;
}

.diagramme {
	position:absolute;
	right:0;
	width:150px;
	height:150px;
	margin-top:30px;
	margin-right:25px;
	pointer-events:none;
}

.pie, svg, .pie-content {
	position:absolute;
}

.pie {
	list-style:none;
	-webkit-padding-start:0;
}

svg {
	z-index:2;
}

.pie-content {
	z-index:3;
	color:white;
	width:150px;
	height:150px;
	text-align:center;
	padding-top:40px;
}

.pie-content .percentage {
	font-size:25pt;
	margin-bottom:5px;
}