/********/
/* PAGE */
/********/
.titre-recherche {
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 10px 0px;
}

.btn-discover-map {
	display: inline-block;
	border: 2px solid #ADADAD;
	padding: 10px 20px;
	border-radius: 4px;
	color: #ADADAD;
	margin-top: 30px;
}

.discover-map p {
	margin-top: 10px;
	color: #FFFFFF;
}


/* SPINNER ICON CHARGEMENT DES PROJETS */
.loading {
	text-align: center;
	font-size: 50px;
	color: rgb(95, 207, 128);
	margin-top: 20px;
}

.fa-circle-o-notch {
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fa-circle-o-notch::before{
  content: none;
}

/* AFFICHAGE CONTENU DES PROJETS */
#content-scrolling {
    overflow: auto;
	position:absolute;
	width:100%;
}
#content > a {
	display:block;
	height:175px;
}
.scrolling-text {
	bottom: 0;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 20px;
	position: fixed;
	display:none;
}
#content-scrolling .error {
	color: white;
	text-align: center;
	font-size: 16px;
	background: #e74c3c;
	padding: 20px 0;
}
/***********/
/* PROJETS */
/***********/
.apercu{
	z-index:0;
	width: 100%;
	height:175px;
	background:black;
	position: relative;
}
.filter{
	background:rgba(0,0,0,0.6);
	position:absolute;
	width:40%;
	height:175px;
	pointer-events:none;

	/*Mozilla*/
	clip-path: url(../svg/projects.svg#maskClip);

	/*Chrome,Safari*/
	-webkit-clip-path: polygon(0px 175px,100% 175px,80% 0px,0px 0px);
}
.project-title{  
	font-size: 25px;
	color: white;
	position: absolute;
	margin-top: 30px;
	text-align: center;
	width: calc(40% - 100px);
}
.project-background {
  height: 100%;
  width: 100%;
  position: absolute;
}
.time-remaining {
	color: #FFF;
	padding: 10px;
	width: calc(40% - 100px);
	position: absolute;
	text-align: center;
}
.project-tags {
  	font-weight: 600;
	font-size: 14px;
	color: white;
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
	width: calc(40% - 100px);
	padding: 0;
	list-style: none;
	bottom:0;
}
.project-tags li {
	min-width: 100px;
	text-align: center;
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 12px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding: 0 10px 0 12px;
	background: #3498db;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}
.project-tags li:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #3498db transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}
.project-tags li:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
}
/*************/
/* DIAGRAMME */
/*************/
.chart {
	position:absolute;
	right:60px;
	width:105px;
	height:105px;
	margin-top: 35px;
}
.pie, .chart > svg, .pie-content {
	position:absolute;
}
.pie {
	list-style:none;
	-webkit-padding-start:0;
}
.chart > svg {
	z-index:2;
}
.pie-content {
	z-index:3;
	color:white;
	width:105px;
	height:105px;
	text-align:center;
	padding-top:22px;
}
.pie-content .percentage {
	font-size:25px;
}
.pie-content .name {
	font-size:11px;
	color:#aaafb2;
}

/** MEDIA QUERIES **/
@media (max-width: 1130px) {
    .selector { margin: 0px 10px; }
}

@media (max-width: 960px) {
	.filter {
		width:70%;
	}
	.project-title {
	  width: calc(70% - 100px);
	}
	.time-remaining {
	  width: calc(70% - 100px);
	}
	.project-tags {
	  width: calc(70% - 100px);
	}
}

@media (max-width: 520px) {
    .selector { margin: 0px 0px; }
	.project-title {
	  font-size: 18px;
	}
	.filter {
		width:100%;
		height: 60px;
		clip-path:none;
		-webkit-clip-path:none;
	}
	.project-title {
	  width: 100%;
	}
	.time-remaining {
	  width: 100%;
	}
	.project-tags {
	  width: 70%;
	  margin-left:0;
	  bottom:0;
	}
	.chart {
	  right: 10px;
	  bottom: 10;
	}
}