body {
	background: rgb(55, 72, 93);
}

/**** BANNER ****/
#banner {
	width:100%;
	height:300px;
    position:absolute;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);

	filter: blur(2px);
}
#layer {
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: rgba(10,10,10,.4);
}
#label {
	color:rgb(138, 202, 139);
	padding:10px 25px;
	border:3px solid rgb(138, 202, 139);
	border-radius:5px;
	width:200px;
}
.logo-name {
	position:absolute;
	margin-left:60px;
	margin-top:45px;
	width: calc(100% - 60px);
}
.logo-username {
	display:inline-block;
	margin-left:20px;
	vertical-align: middle;
	width: calc(100% - 250px);
}
.logo-name h1, .logo-name h2 {
	color:#fff;
	margin:0;
}
.logo-name h1 {
	font-size:30pt;
}
.logo-name h2 {
	font-size: 12pt;
}
#logo {
	width:150px;
	height:150px;
	margin-left:25px;
}
#block-body {
	background-color:#eee;
	margin-top:1px;
	padding-bottom:80px;
}
.reseaux_sociaux {
	display:inline-block;
	margin-top:5px;
	margin-left:5px;
}
span.fa.fa-facebook {
	width: 13px;
}
textarea {
	width:100%;
	height:179px;
	resize: none;
}
/**** TAB BOX ****/
.inner-left, .inner-right {
	width:50%;
	vertical-align: top;
	display:inline-block;
}
.inner-right {
	float:right;
}
.tab-box.full img {
	margin-bottom: 10px;
	width:95%;
	height: 250px;
}
/**** MENU ****/
.panel-heading {
	padding:0;
	width:100%;
}
.content-panel-heading {
	text-align: center;
	height:300px;
}
.btn-group {
	margin-top:275px;
    text-align: center;
    display: inline-block;
}
.nav-tabs {
	border:none;
}
.nav-tabs li.active {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs li {
	padding:0;
}
.nav-tabs li:hover {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border:1px solid #fff;
	color:#428bca;
	background-color:#fff;
}
.nav-tabs>li>a, .nav-tabs>li>input {
	border:1px solid #fff;
	color:grey;
	background-color:#fff;
	position: relative;
	display: block;
	padding: 10px 15px;
}
/**** ACHIEVEMENTS ****/
.achievement {
	border:1px solid rgb(20, 178, 28);
	overflow: hidden;
	position: relative;
	min-height: 150px;
	width:600px;
}
.achievement-content {
	width:70%;
}
.achievement-content h1 {
	color: rgb(20, 178, 28);
}
.achievement-desc {
	margin-left:20px;
	font-style: italic;
	color:#999999;
}
.achievement-logo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
	width:25%;
}
.achievement-logo img{
	height:100%;
	width:100%;
}
/**** TIMELINE ****/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  right: 25px;
  margin-left: -1.5px;
  border-radius: 5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  background-color: #fff;
}
.timeline > li > .timeline-panel:before, .timeline > li > .timeline-panel:after {
	position: absolute;
	display: inline-block;
	content: " ";
}
.timeline > li > .timeline-panel:before {
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
}
.timeline > li > .timeline-panel:after {
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
}
.timeline-heading > h3 {
	margin-top:0;
	font-style: italic;
}
.timeline > li > .timeline-badge {
	position: absolute;
	top: 16px;
	right: 0px;
}
.timeline > li > .timeline-badge > img {
	height:50px;
	width:50px;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p, .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/** NEW STYLE **/
.block-new-project {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	padding: 30px;
	background: rgb(53, 53, 53);
	width: 25%;
}

.profile-left-menu {
	display: inline-block;
	width: 25%;
	background: rgb(72, 72, 72);
	position: fixed;
	height: 100%;
	padding-top: 10px;
	color: #FFFFFF;
}

.profile-left-menu-title {
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.profile-left-menu-subtitle {
	text-transform: lowercase;
	font-size: 12px;
	letter-spacing: 10px;
}

.profile-menu {
	margin-top: 40px;
}

.profile-menu-title {
	text-indent: 30px;
	color: rgb(158, 158, 158);
	text-transform: uppercase;
}

.profile-menu-content {
	margin-top: 10px;
}

.profile-menu a {
	display: block;
	padding: 10px 0px;
	font-size: 18px;
	font-weight: 400;
	text-indent: 12px;
	border-left: 5px solid rgb(72, 72, 72);
	color: rgb(158, 158, 158);
	text-decoration: none;
}

.profile-menu a:hover, .profile-menu a.active {
	background: rgb(65, 65, 65);
	border-left: 5px solid rgb(72, 149, 217);
	color: #FFFFFF;
}

.profile-menu a i {
	margin-right: 10px;
}

.profile-content {
	display: inline-block;
	margin-left: 25%;
	width: 75%;
	padding: 10px 30px;
}

.profile-alert {
	width: 100%;
	border: 3px solid rgb(242, 242, 242);
	padding: 10px;
	border-radius: 6px;
	color: rgb(242, 242, 242);
	font-size: 14px;
	margin-bottom: 15px;
}

.profile-block {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}

.profile-block-title {
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 300;
	padding: 5px;
	border-radius: 5px 5px 0px 0px;
}

.profile-block-title.red {
	background: rgb(225, 69, 63);
}

.profile-block-title.orange {
	background: rgb(225, 125, 45);
}

.profile-block-title.purple {
	background: rgb(155, 80, 181);
}

.profile-block-title.green {
	background: rgb(101, 211, 130);
}

.profile-block-content {
	background: #FFFFFF;
	border-radius: 0px 0px 5px 5px;
	height: 250px;
}

.profile-block-content table {
	font-size: 12px;
	font-weight: 500;
}

.profile-block-content table thead td {
	text-align: center;
	width: 5%;
	padding: 4px;
}

.profile-block-content table tbody tr:hover {
	background: rgb(226, 226, 226);
}

.profile-block-content table tbody td {
	text-align: center;
	width: 5%;
	padding: 6px;
}

.profile-projects-current {
	width: 65%;
	margin-right: 5%;
}

.profile-projects-advancement {
	width: 30%;
}

.profile-projects-comments {
	width: 30%;
	margin-right: 5%;
}

.profile-projects-actors {
	width: 65%;
}