/**** BLOC TETE DE PRESENTATION PROJET ****/
#block-head {
	width:100%;
	height:610px;
	position:relative;
}
.content {
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(10,10,10,.2);
}
#background-img {
	width:100%;
	height:100%;
}
#infos-asso, #project-title, #project-ressources{
	width:100%;
	position:relative;
	z-index:1;
}
.project-description {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
/**** INFORMATIONS HEADER ASSOCIATION ****/
#infos-asso {
	height:150px;
}
#certification {
	position:absolute;
	text-align:center;
	margin-left:40px;
	margin-top:10px;
}
#certification #label {
	color: #8ACA8B;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px 25px;
	border: 2px solid rgb(138, 202, 139);
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}
#certification #logo {
	height:100px;
	border-radius:4px;
	background: rgba(0,0,0,0.3);
	padding: 10px;
}
#content-infos{
	width:700px;
	float:right;
	padding-left:80px;
	padding-top:10px;
	padding-bottom: 10px;
	background-color: rgba(45, 45, 45, 0.6);
	/*Chrome,Safari*/
	-webkit-clip-path: polygon(70px 150px,100% 150px,100% 0px,20px 0px);
}
#content-infos-second-row {
	width:100%;
	padding-right:10px;
	float:right;
}
#infos-asso h1 {
	color:white;
	font-size:18pt;
	margin-right:30px;
	padding-top:10px;
	margin-top:0px;
}
#town-asso {
	display:inline;
	color:white;
	float:left;
}
#content-infos a {
	margin-top:10px;
	background:none;
	color:white;
}
/**** RESEAUX SOCIAUX ASSOCIATION ****/
#reseaux_sociaux {
	display:inline;
	float:right;
}
#reseaux_sociaux a{
	padding-right:10px;
	padding-left:10px;
	color: white;
	text-shadow:none;
	text-decoration:none;
}
#reseaux_sociaux #facebook:hover{
	color: #3b5998;
}
#reseaux_sociaux #twitter:hover{
	color: #55ACEE;
}
#reseaux_sociaux #googleplus:hover{
	color: #dd4b39;
}
/**** CONTENEUR TITRE PROJET ****/
#project-title {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:210px;
	font-size:40px;
	color:white;
	text-transform:uppercase;
	vertical-align:middle;
	padding-top:30px;
	padding-bottom:30px;
}
/**** CONTENEUR RESSOURCES ****/
#project-ressources {
	height:250px;
	position:relative;
	width:100%;
	padding-top: 10px;
	background: rgba(0,0,0,0.5);
}
#content-ressources {
	width:100%;
	height:100%;
}
#content-ressources #diagramme {
	position:relative;
	width:150px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	pointer-events:none;
}
.pie, #content-ressources svg, .pie-content {
	position:absolute;
}
.pie {
	list-style-type: none;
	-webkit-padding-start:0;
}
#content-ressources svg {
	z-index:2;
}
.pie-content {
	z-index:3;
	color:white;
	width:150px;
	height:150px;
	text-align:center;
	padding-top:40px;
}
.pie-content .percentage {
	font-size:25pt;
	margin-bottom:5px;
}
#content-ressources a {
	position:relative;
	display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}
.txt-ressource {
	display: inline-block;
	font-size: 22px;
	margin: 0 20px;
}
#text-ressources {
	position:absolute;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	right:0;
	left:0;
	text-align: center;
	margin-top: -60px;
}
#left-ressources, #right-ressources {
	width:50%;
	height:150px;
	font-size:20pt;
}
#left-ressources {
	float:left;
	color:green;
}
#right-ressources {
	float:right;
	text-align:right;
	color:red;
}
#text-ressource-info, #text-ressource-financiere, #text-ressource-humaine, #text-ressource-materiel {
	height:50%;
	padding-top:10px;
	padding-bottom:20px;
	cursor:default;
}
#text-ressource-info {
	color: #99a5af;
	height: 100%;
	vertical-align: middle;
	line-height: 130px;
}
#text-ressource-info:hover, #text-ressource-humaine:hover, #text-ressource-materiel:hover {
	opacity: 0.7;
}
#text-ressource-financiere {
	color: #ea5f50;
	display: none;
}
#text-ressource-humaine {
	color: #70d48d;
  	padding-right: 10px;
}
#text-ressource-materiel {
	color:#a66abe;
}
#project-tags {
  padding: 10px 20px;
  margin-top: -30px
}
#project-tags div {
	min-width: 100px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	float: right;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 12px;
	margin-left: 20px;
	padding: 0 10px 0 12px;
	margin-bottom: 5px;
	background: #3498db;
	color:#fff;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

#project-tags div:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #3498db transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}

#project-tags div:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
}

/**** BLOC CORPS DE PRESENTATION PROJET ****/
.tab-title {
	width:65%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	color:#fff;
}
.tab-media {
  width: 55%;
  margin: 0 auto;
}
.panel-content-heading
{
	width:100%;
  	text-align: center;
}

.project-menu {
	text-align: center;
	background: white;
	margin-bottom: 20px;
	border-bottom: 2px solid #2574A9;
}
.project-menu a {
	display: inline-block;
	padding: 14px 12px;
	padding-bottom: 9px;
	border-bottom: 4px solid transparent;
	text-transform: uppercase;
	color: #333;
	font-weight: 500;
}
.project-menu a:hover, .project-menu a.active {
	text-decoration: none;
	border-bottom: 4px solid #2574A9;
	transition: all 0.2s;
	 -webkit-transition: all 0.2s;
	 -moz-transition: all 0.2s;
	 -o-transition: all 0.2s;
	 -ms-transition: all 0.2s;
}

/**** UPDATES ****/
.form-submit-actu {
	margin-bottom: 15px;
}
.form-submit-actu > form > div {
	margin-top: 10px;
}
.btn-submit-actu {
	margin: 10px auto;
	display: block;
}

/**** COMMENTAIRES ****/
.tab-box.comment {
	min-height:0;
	padding:10px;
}
#tabcomments > h3 {
  color: #fff;
}
#tabcomments input[type="button"] {
  margin: 5px;
}
.tab-box.comment .comment-author, .tab-box.comment .comment-date, .tab-box.comment .comment-avatar, .tab-box.comment .comment-hour {
	display: inline-block;
}
.tab-box.comment .comment-author{
	font-size:12pt;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:10px;
}
.tab-box.comment .comment-avatar img{
	width:50px;
	height:50px;
	border-radius:25px;
	border:1px solid rgba(0,0,0,.3);
}
.tab-box.comment .comment-hour {
	margin-left:5px;
}
.tab-box.comment .comment-date {
	float:right;
}
.tab-box.comment p {
	border-top:1px solid #eee;
	margin-top:5px;
	padding-top:5px;
	margin-left: 55px;
}
.tab-box.comment textarea{
	width:100%;
}
.tab-box.comment h3{
	font-size:18pt;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:5px;
	font-family: arial;
}
.tab-box.comment .form-group.report {
	text-align: right;
}
.tab-box.comment .btn-report {
	background: none;
	border: none;
	color: rgb(240, 173, 78);
	font-size: 18px;
	outline:none;
}

@media (max-width: 940px) {
	#certification {
	  margin-left: 10px;
	  z-index: 5;
	}
	#certification #label {
	  display: none;
	}
	#certification #logo {
	  width: 80px;
	  height: 80px;
	  border-radius: 50%;
	}
	#content-infos {
	  width: 100%;
	  padding-left: 100px;
	  -clip-path: none;
	  -webkit-clip-path: none;
	}
}
@media (max-width: 830px) {
	.tab-media {
	  width: 100%;
	}
	.tab-title {
	  width: 90%;
	}
}
@media (max-width: 620px) {
	#text-ressources {
	  width: 500px;
	}
	#project-title {
	  width: 90%;
	  font-size: 25pt;
	}
}
@media (max-width: 560px) {
	.tab-title {
	  font-size: 25px;
	}
	#content-infos h1 {
		font-size: 18px;
	}
	span.social {
	  display: none;
	}
	#text-ressources {
	  display:none;
	}
	#block-head {
		height:640px;
	}
}

/* BLOCS HISTOIRE MODAL */
#modalAddBlock .modal-title {
	font-size: 35px;
    margin-bottom: 10px;
}
#modalAddBlock .modal-header {
    background: #2374A9;
}
#modalAddBlock .modal-header input[type="text"] {
	background: none;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    width: 75%;
    border-radius: 5px;
}
ul.nav-modal-form {
    list-style: none;
    padding: 0;
}
ul.nav-modal-form > li {
    display: inline-block;
    margin: 0px 70px;
    padding: 0 5px;
    vertical-align: top;
}
ul.nav-modal-form > li.active {
    border-bottom:2px solid #eee;
}
ul.nav-modal-form > li a:hover, ul.nav-modal-form > li a:active, ul.nav-modal-form > li a:focus {
    text-decoration: none;
}
#modalAddBlock #form-video input {
	border-radius: 5px;
    border: 2px solid #FFFFFF;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    color: black;
}
#modalAddBlock .modal-body {
	background:#D8D8D8;
}
#modalAddBlock .modal-footer {
    background: #272E35;
    text-align: center;
}
.blocs > div {
    width: calc(50% - 50px);
    background: white;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 6px 10px black;
}
.blocs > div.large {
    width: calc(100% - 50px);
}
.blocs > div .bloc-head {
    background: #CECECE;
    border-radius: 5px 5px 0 0;
}
.blocs > div .bloc-head i {
    font-size: 80px;
    margin: 10px 0;
    color: #5C97BF;
}
.blocs > div h1.bloc-title {
    color: #5C97BF;
}