

#main {
	color: #fff;
	text-align: center;
}

.head-new-project {
  width: 100%;
  background: url('../images/icones/bannieres/projet.jpg') center center no-repeat rgb(36, 116, 169);
  height: 200px;
  text-align: center;
}

.head-new-project h1 {
	vertical-align: middle;
	color: #fff;
	line-height: 200px;
	margin: 0;
}

.form-add-project label {
	width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 3px 0 0 3px;
}

.form-add-project input[type="checkbox"] {
	width: 100%;
}

#step-3 label, #step-5 label {
	font-weight: 400;
	background: none;
	width: auto;
	height: auto;
	color: #FFF;
	border-radius: 4px;
	margin-right: -4px;
	font-size: 20px;
}

#step-3 label {
	color: #333;
}

.form-add-project label i {
	margin-top: 10px;
}

#step1 input, #step1 textarea, #step1 select {
    display: inline-block;
    width: 40% !important;
    vertical-align: middle;
    height: 50px;
    margin-top: -6px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 0;
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    text-align: left !important;
    padding-left: 16px;
    border-radius: 0px;
    background-color: rgba(255,255,255,0.0);
    border-radius: 0 3px 3px 0;
}

.form-add-project input:focus, .form-add-project textarea:focus, .form-add-project select:focus {
	border:none;
	outline: none;
}

.form-add-project .input-group .btn {
    margin-top: 16px;
    /* margin-bottom: 20px; */
    width: 250px;
    background: none;
    color: white;
    border: 1px solid whitesmoke;
    padding: 0 30px;
    height: 35px;
    line-height: 35px;
    /* text-align: center; */
    /* margin-left: 15px; */
    transform: translate;
    transition: 0.1s ease-in-out;
    border-radius: 20px;
}

.form-add-project .input-group .btn:hover {
	/* background: #AAA; */
    /* color: #333; */
    border: 1px solid whitesmoke;
    border-radius: 20px;
    /* width: 200px; */
}

.form-add-project .input-group .btn:focus {
	outline: 0;
}

#cf_mainbundle_projet_tags input {
	width: 15px !important;
	margin-top: 0;
	margin-left:25px;
}

#cf_mainbundle_projet_tags label {
	width: auto !important;
	line-height: 52px;
	background: none;
	font-size: 14px;
}

#steps {
    text-align: center;
    width: 100%;
    margin: -70px auto 70px auto;
    position: relative;
    /*
	position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    */
}

.line-step {
	/*
	width: 90%;
	margin:auto;
    height: 20px;
    background: #D9D9D9;
    position: relative;
    top: 60px;
    z-index: 1;
    */
    height: 20px;
    background: #D9D9D9;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}


.step-number {
	background: #D9D9D9;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    text-align: center;
    color: #FFF;
    font-size: 36px;
}

.step {
	display: inline-block;
	margin-right: 10%;
}

.step-last {
	display: inline-block;
	margin-right: 0px;
}

.step-active {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0px auto;
    background: #FFF;
    margin-top: 10px;
    color: #2574A9;
}

.step-text {
	font-size: 13px;
    text-align: center;
    width: 100px;
    margin-left: 0;
    margin-top: 10px;
}

.step a, .step-last a {
	text-decoration: none;
	color: #FFF;
}

.delete-button {
	position: absolute;
	right: 10;
	font-size: 25px;
}
.container {
	margin-bottom:20px;
	width:100%;
}
#body > div > div > ul, #body > div {
	margin-bottom: 0.5px;
}
#body > form {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
@media (max-width: 1040px) {
	#cf_mainbundle_projet_boxs > div {
		width: 100%;
	}
	#ajout_box {
	  width: 100%;
	}
}
/* BLOCS HISTOIRE MODAL */
#modalForm .modal-title, #modalEditForm .modal-title {
	font-size: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: 8px;
    color: #fff;
}
#modalForm .modal-header, #modalEditForm .modal-header {
    background: #2374A9;
}
#modalForm .modal-header input[type="text"], #modalEditForm .modal-header input[type="text"] {
	background: none;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    width: 75%;
    border-radius: 5px;
}
.radio-width label {
    margin: 0 10px;
}
ul.nav-modal-form {
    list-style: none;
    padding: 0;
}
ul.nav-modal-form > li {
    display: inline-block;
    margin: 0px 70px;
    padding: 0 5px;
    vertical-align: top;
}
ul.nav-modal-form > li.active {
    border-bottom:2px solid #eee;
}
ul.nav-modal-form > li a:hover, ul.nav-modal-form > li a:active, ul.nav-modal-form > li a:focus {
    text-decoration: none;
}
#modalForm #form-video input, #modalEditForm #video-edit-form {
	border-radius: 5px;
    border: 2px solid #FFFFFF;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    color: black;
}
#modalForm .modal-body, #modalEditForm .modal-body {
	background:#D8D8D8;
}
#modalForm .modal-footer, #modalEditForm .modal-footer {
    background: #272E35;
    text-align: center;
}
.blocs > div {
    width: calc(50% - 50px);
    background: white;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 6px 10px black;
}
.blocs > div.large {
    width: calc(100% - 50px);
}
.blocs > div .bloc-head {
    background: #CECECE;
    border-radius: 5px 5px 0 0;
}
.blocs > div .bloc-head i {
    font-size: 80px;
    margin: 10px 0;
    color: #5C97BF;
}
.blocs > div h1.bloc-title {
    color: #5C97BF;
}
#cf_mainbundle_projet_boxs {
	display:none;
}
/* BOITES DES RESSOURCES */
.besoin-box > .delete-button {
	position:absolute;
	right:0;
	margin-right: 2.5px;
	margin-top:1.5px;
	color:white;
	z-index:2;
}
.header-besoin-box {
	padding: 10px 0;
}
.header-besoin-box > span {
	color:white;
	display:block;
	text-align: center;
	margin-bottom:5px;
	font-size: 20pt;
}
.besoin-box, #add-besoin-box {
	width:250px;
	height:220px;
	display:inline-block;
	vertical-align: top;
	border-radius:8px;
	margin:27px;
	position: relative;
	background:#fff;
}
.styled-input {
	border-radius: 5px;
	height: 40px;
	width: 85% !important;
	text-align: left!important;
	display: block;
	padding-left: 5px;
	background:none!important;
	color:rgb(56, 56, 56)!important;
	margin: 10px auto !important;
}
.styled-input::-webkit-input-placeholder {
   color: rgb(182, 182, 182);
}

.styled-input:-moz-placeholder { /* Firefox 18- */
   color: rgb(182, 182, 182);  
}

.styled-input::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(182, 182, 182);  
}

.styled-input:-ms-input-placeholder {  
   color: rgb(182, 182, 182);  
}
.body-besoin-box .input-group {
	margin-top:15px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.body-besoin-box > p {
	font-size:10pt;
	font-weight: bold;
	padding:10px;
}
.body-besoin-box > p > .red {
	color:red;
}

/* AJOUT DE RESSOURCES BOX */
#add-besoin-box {
    font-size: 10em;
    font-weight: 100;
    vertical-align: middle;
    line-height: 220px;
    text-align: center;
    background: none;
    border: 1px dashed whitesmoke;
}
#add-besoin-box > a {
	color: whitesmoke;
 	text-decoration: none;
}
#add-besoin-box > a:hover {
	color:#70D48D;
}

#cf_mainbundle_projet_dons > div {
	height: auto;
	display:inline-block;
	vertical-align: top;
	border-radius: 8px;
	position: relative;
}
/* STYLE POUR LES SELECTS */
.styled-select {
	width:85%;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	overflow: hidden;
	position:relative;
}
.styled-select > span {
	position:absolute;
	right:5px;
	margin-top:5px;
	color:white;
	pointer-events:none;
}
.styled-select > select {
	position: relative;
	background: transparent;
	color: white;
	border: none;
	width: 100% !important;
	height: 30px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	-webkit-appearance: none;
}
.styled-select > select:focus {
	outline:0;
}
.styled-select > select > option {
	color:black;
}
.styled-select.body-besoin {
	border-radius: 5px;
	margin-top: 15px;
	height: 40px;

  margin-left: 7%;
}
.styled-select.body-besoin select {
	color: grey;
	height: 35px;
}
.styled-select.body-besoin span {
	margin-top:8px;
}
/* COULEURS DES BOITES */
.besoin-box.green {
	border:3px solid #70d48d;
}
.besoin-box.green .header-besoin-box,
.besoin-box.green span.input-group-addon {
	background: #70d48d;
}
.besoin-box.green .styled-select.body-besoin,
.besoin-box.green .styled-input,
.besoin-box.green span.input-group-addon {
	border: 2px solid #70d48d;
}
.besoin-box.green .styled-select.body-besoin span {
	color: #70d48d;
}
.besoin-box.red {
	border:3px solid #ea5f50;
}
.besoin-box.red .header-besoin-box,
.besoin-box.red span.input-group-addon {
	background: #ea5f50;
}
.besoin-box.red .styled-select.body-besoin,
.besoin-box.red .styled-input,
.besoin-box.red span.input-group-addon {
	border: 2px solid #ea5f50;
}
.besoin-box.red .styled-select.body-besoin span {
	color: #ea5f50;
}
.besoin-box.purple {
	border:3px solid #a66abe;
}
.besoin-box.purple .header-besoin-box,
.besoin-box.purple span.input-group-addon {
	background: #a66abe;
}
.besoin-box.purple .styled-select.body-besoin,
.besoin-box.purple .styled-input,
.besoin-box.purple span.input-group-addon {
	border: 2px solid #a66abe;
}
.besoin-box.purple .styled-select.body-besoin span {
	color: #a66abe;
}
.besoin-box.grey {
	border:3px solid #99a5af;
}
.besoin-box.grey .header-besoin-box,
.besoin-box.grey span.input-group-addon {
	background: #99a5af;
}
.besoin-box.grey .styled-select.body-besoin,
.besoin-box.grey .styled-input,
.besoin-box.grey span.input-group-addon {
	border: 2px solid #99a5af;
}
.besoin-box.grey .styled-select.body-besoin span {
	color: #99a5af;
}

#cf_mainbundle_projet_besoins label {
	display:none;
}
#cf_mainbundle_projet_besoins > div {
	display:inline-block;
	vertical-align: top;
}

div#cf_mainbundle_projet_background {
	padding-top: 20px;
	margin-top: -6px;
	vertical-align: middle;
	display: inline-block;
    width: 40% !important;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 0;
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    text-align: left !important;
    padding-left: 16px;
    border-radius: 0px;
    background: none;
    border-radius: 0 3px 3px 0;
}

.input-group {
	margin-top: -30px;
}

@media (min-width: 992px) {
	.form-add-project input, .form-add-project textarea, .form-add-project select {
		width: 500px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 960px) {
	#steps {
		width: 90%;
	}
	.step {
		margin-right: 10%;
	}

	.line-step {
		width: calc(100% - 250px);
		top: 15px;
		height: 10px;
	}

	.step-text {
		display: none;
	}

	.step-number {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		font-size: 24px;
	}

	.step-active {
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 15px;
		margin-top: 5px;
	}
}

@media (max-width: 768px) {
	#steps {
		width: 90%;
	}
	.step {
		margin-right: 10%;
	}

	.line-step {
		width: calc(100% - 250px);
		top: 15px;
		height: 10px;
	}

	.step-text {
		display: none;
	}

	.step-number {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		font-size: 24px;
	}

	.step-active {
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 15px;
		margin-top: 5px;
	}
}

/*
 * DEBUT BOOTSNIPP CSS CODE FORM WIZARD STEP
 * http://bootsnipp.com/snippets/featured/form-wizard-using-tabs
 */
.wizard {
    margin: 20px auto;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
        top: -100px;
    }

.connecting-line {
    height: 30px;
    background: #D9D9D9;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 55;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 100px;
    height: 100px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #D9D9D9;
    border: none;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #5FCF80;
    border: 8px solid #D9D9D9;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 3px solid #5FCF80;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    /*content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;*/
    display:none;
}

.wizard li.active:after {
    /*content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;*/
    display:none;
}

.wizard .nav-tabs > li a {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background: none;
    border: none;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 0;
}

.wizard h3 {
    margin-top: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.wizard p {
	margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
}

.wizard > .nav-tabs li.active {
	border: none;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/* FIN BOOTSNIPP */
