#main {
	color: #fff;
	text-align: center;
}

.head-new-project {
  width: 100%;
  background-color: rgb(36, 116, 169);
  position: relative;
  height: 200px;
  text-align: center;
}

.head-new-project img {
  position: absolute;
  display: block;
  left: calc( 50% - 450px);
}

.head-new-project h1 {
	position: absolute;
	left: 0;
	right: 0;
	vertical-align: middle;
	color: #fff;
	line-height: 200px;
	margin: 0;
}

.form-add-project label {
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background: #2ECC71;
	vertical-align: middle;
	font-size: 28px;
}

#step-3 label, #step-5 label {
	font-weight: 400;
	background: none;
	width: auto;
	height: auto;
	color: #FFF;
	border-radius: 4px;
	margin-right: -4px;
	font-size: 20px;
}

#step-3 label {
	color: #333;
}

.form-add-project label i {
	margin-top: 10px;
}

#step-1 input, #step-1 textarea, #step-1 select {
	display: inline-block;
	width: 55% !important;
	vertical-align: middle;
	height: 50px;
	margin-top: -6px;
	border: none;
	color: #333;
	font-size: 18px;
	text-align: left !important;
	padding-left: 16px;
	
border-radius: 0px;
}

.form-add-project input:focus, .form-add-project textarea:focus, .form-add-project select:focus {
	border:none;
	outline: none;
}

.form-add-project .input-group .btn {
	margin-top: 15px;
	margin-bottom: 20px;
	width: auto;
	background: #999;
	color: #333;
	border: none;
	padding: 0 6px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
}

.form-add-project .input-group .btn:hover {
	background: #AAA;
	color: #333;
}

.form-add-project .input-group .btn:focus {
	outline: 0;
}

.btn.btn-success {
	margin-top: 15px;
}

#steps {
	text-align: center;
	width: 980px;
	margin: 60px auto;
	position: relative;
}

.line-step {
	width: 940px;
	height: 20px;
	background: #2574A9;
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 1;
}

.step-number {
	background: #2574A9;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 40px;
	position: relative;
	z-index: 2;
	text-align: center;
	color: #FFF;
	font-size: 36px;
}

.step {
	display: inline-block;

	margin-right: 125px;
}

.step-last {
	display: inline-block;
	margin-right: 0px;
}

.step-active {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 30px;
	margin: 0px auto;
	background: #FFF;
	margin-top: 10px;
	color: #2574A9;
}

.step-text {
	font-size: 13px;
	text-align: center;
	width: 100px;
	margin-left: -10px;
	margin-top: 10px;
}

.step a, .step-last a {
	text-decoration: none;
	color: #FFF;
}

#boites {
	text-align: left;
	background-color: rgb(66, 139, 202);
	padding: 20px;
	border: 1px solid;
}
#cf_mainbundle_projet_boxs > div {
	width: calc(50% - 10px);
	height:auto;
	margin:5px;
	display:inline-block;
	padding:10px;
	border: 5px solid rgb(37, 116, 169);
	background: #fff;
	color: #000;
	border-radius: 5px;
	position: relative;
  	min-height: 370px;
}
#cf_mainbundle_projet_boxs > div > div {
	position: absolute;
	width: calc(100% - 20px);
	margin-top: 25px;
}
#cf_mainbundle_projet_boxs > div > div > div:nth-child(3),
#cf_mainbundle_projet_boxs > div > div > div:nth-child(4) {
	width:50%;
	display: inline-block;
}
#cf_mainbundle_projet_boxs .box-order {
	display: inline-block;
	width: 50% !important;
	margin-left: 10px;
	vertical-align: top;
}
#cf_mainbundle_projet_boxs .form-control {
	width: 100%;
	background: none;
	border: 3px solid #2574A9;
	color: #2574A9;
}
#cf_mainbundle_projet_boxs input[type="checkbox"] {
  width: 20px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}
#cf_mainbundle_projet_boxs > div > label {
	display:none;
}
#ajout_box {
  height: 370px;
  line-height: 75px;
  width: calc(50% - 10px);
  margin: 5px;
  vertical-align: top;
  padding-top: 145px;
  background: #2574A9;
}
#ajout_box > i {
  font-size: 90px;
  vertical-align: middle;
}
#ajout_box:hover {
	background:#9BC4DF;
}
.delete-button {
	position: absolute;
	right: 10;
	font-size: 25px;
}
.container {
	margin-bottom:20px;
	width:100%;
}
#body > div > div > ul, #body > div {
	margin-bottom: 0.5px;
}
#body > form {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
@media (max-width: 1040px) {
	#cf_mainbundle_projet_boxs > div {
		width: 100%;
	}
	#ajout_box {
	  width: 100%;
	}
}
/* BOITES DES RESSOURCES */
.besoin-box > .delete-button {
	position:absolute;
	right:0;
	margin-right: 2.5px;
	margin-top:1.5px;
	color:white;
	z-index:2;
}
.header-besoin-box {
	padding: 10px 0;
}
.header-besoin-box > span {
	color:white;
	display:block;
	text-align: center;
	margin-bottom:5px;
	font-size: 20pt;
}
.besoin-box, #add-besoin-box {
	width:250px;
	height:220px;
	display:inline-block;
	vertical-align: top;
	border-radius:8px;
	margin:27px;
	position: relative;
	background:#fff;
}
.styled-input {
	border-radius: 5px;
	height: 40px;
	width: 85% !important;
	text-align: left!important;
	display: block;
	padding-left: 5px;
	background:none!important;
	color:rgb(56, 56, 56)!important;
	margin: 10px auto !important;
}
.styled-input::-webkit-input-placeholder {
   color: rgb(182, 182, 182);
}

.styled-input:-moz-placeholder { /* Firefox 18- */
   color: rgb(182, 182, 182);  
}

.styled-input::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(182, 182, 182);  
}

.styled-input:-ms-input-placeholder {  
   color: rgb(182, 182, 182);  
}
.body-besoin-box .input-group {
	margin-top:15px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.body-besoin-box > p {
	font-size:10pt;
	font-weight: bold;
	padding:10px;
}
.body-besoin-box > p > .red {
	color:red;
}

/* AJOUT BOITE RESSOURCES */
#add-besoin-box {
	font-size: 130pt;
	font-weight: 100;
	vertical-align: middle;
	line-height: 220px;
	text-align: center;
  	background: none;
}
#add-besoin-box > a {
	color:#5d5d5d;
 	text-decoration: none;
}
#add-besoin-box > a:hover {
	color:#70D48D;
}

#cf_mainbundle_projet_dons > div {
	height: auto;
	display:inline-block;
	vertical-align: top;
	border-radius: 8px;
	position: relative;
}
/* STYLE POUR LES SELECTS */
.styled-select {
	width:85%;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	overflow: hidden;
	position:relative;
}
.styled-select > span {
	position:absolute;
	right:5px;
	margin-top:5px;
	color:white;
	pointer-events:none;
}
.styled-select > select {
	position: relative;
	background: transparent;
	color: white;
	border: none;
	width: 100% !important;
	height: 30px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	-webkit-appearance: none;
}
.styled-select > select:focus {
	outline:0;
}
.styled-select > select > option {
	color:black;
}
.styled-select.body-besoin {
	border-radius: 5px;
	margin-top: 15px;
	height: 40px;

  margin-left: 7%;
}
.styled-select.body-besoin select {
	color: grey;
	height: 35px;
}
.styled-select.body-besoin span {
	margin-top:8px;
}
/* COULEURS DES BOITES */
.besoin-box.green {
	border:3px solid #70d48d;
}
.besoin-box.green .header-besoin-box,
.besoin-box.green span.input-group-addon {
	background: #70d48d;
}
.besoin-box.green .styled-select.body-besoin,
.besoin-box.green .styled-input,
.besoin-box.green span.input-group-addon {
	border: 2px solid #70d48d;
}
.besoin-box.green .styled-select.body-besoin span {
	color: #70d48d;
}
.besoin-box.red {
	border:3px solid #ea5f50;
}
.besoin-box.red .header-besoin-box,
.besoin-box.red span.input-group-addon {
	background: #ea5f50;
}
.besoin-box.red .styled-select.body-besoin,
.besoin-box.red .styled-input,
.besoin-box.red span.input-group-addon {
	border: 2px solid #ea5f50;
}
.besoin-box.red .styled-select.body-besoin span {
	color: #ea5f50;
}
.besoin-box.purple {
	border:3px solid #a66abe;
}
.besoin-box.purple .header-besoin-box,
.besoin-box.purple span.input-group-addon {
	background: #a66abe;
}
.besoin-box.purple .styled-select.body-besoin,
.besoin-box.purple .styled-input,
.besoin-box.purple span.input-group-addon {
	border: 2px solid #a66abe;
}
.besoin-box.purple .styled-select.body-besoin span {
	color: #a66abe;
}
.besoin-box.grey {
	border:3px solid #99a5af;
}
.besoin-box.grey .header-besoin-box,
.besoin-box.grey span.input-group-addon {
	background: #99a5af;
}
.besoin-box.grey .styled-select.body-besoin,
.besoin-box.grey .styled-input,
.besoin-box.grey span.input-group-addon {
	border: 2px solid #99a5af;
}
.besoin-box.grey .styled-select.body-besoin span {
	color: #99a5af;
}

#cf_mainbundle_projet_besoins label {
	display:none;
}
#cf_mainbundle_projet_besoins > div {
	display:inline-block;
	vertical-align: top;
}

div#cf_mainbundle_projet_background {
	display: inline-block;
	width: 55%;
	background: white;
	height: 50px;
	padding-top: 20px;
	margin-top: -6px;
	vertical-align: middle;
}

.input-group {
	margin-top: -30px;
}

@media (min-width: 992px) {
	.form-add-project input, .form-add-project textarea, .form-add-project select {
		width: 500px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 960px) {
	#steps {
		width: 760px;
	}
	.step {
		margin-right: 70px;
	}

	.line-step {
		width: 730px;
		left: 15px;
	}
}

@media (max-width: 768px) {
	#steps {
		width: 90%;
	}
	.step {
		margin-right: 10%;
	}

	.line-step {
		width: 90%;
		left: 5%;
		top: 15px;
		height: 10px;
	}

	.step-text {
		display: none;
	}

	.step-number {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		font-size: 24px;
	}

	.step-active {
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 15px;
		margin-top: 5px;
	}
}