@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
@import url('http://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: GothamMedium;
    src: url('../fonts/Gotham Medium.otf');
}
@font-face {
    font-family: GothamLight;
    src: url('../fonts/Gotham Light.otf');
}
@font-face {
    font-family: Avenir;
    src: url('../fonts/AvenirLTStd-Book.otf');
    font-weight: 100;
}

body { 
	font-family: 'Avenir';
    font-size: 13px;
}

.btn {
  font-family: 'GothamMedium';
  font-size:12px !important;
}

.navbar {
	background: #ECECEC;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid #3498DB;
  padding-bottom: 12px;
  transition: all 0.2s;
}

.navbar .logo a {
    color: black;
}

.navbar .logo img {
  height: 50px;
  margin-top: -13px;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
} 

#main {
	margin-top: 50px;
}