#main {
	color: #fff;
	text-align: center;
}
.head-connection {
  width: 100%;
  background-color: rgb(36, 116, 169);
  position: relative;
  height: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.head-connection img {
  position: absolute;
  display: block;
  left: calc( 50% - 432px);
}

.head-connection h1 {
	position: absolute;
	left: 0;
	right: 0;
	vertical-align: middle;
	color: #fff;
	line-height: 200px;
	margin: 0;
}

.form-user label {
	font-size: 24px;
	font-weight: 400;
}

.form-user input, .form-user textarea, .form-user select {
	margin-bottom: 20px;
	background: #2574A9;
	color: #fff;
	border: none;
}

.form-user .btn {
	margin-top: 10px;
	margin-bottom: 20px;
	width: auto;
	background: #2574A9;
	color: #FFF;
}

.form-user .btn:hover {
	background: #FFF;
	color: #5C97BF;
}

.connexion-center {
	font-size: 14px;
}

@media (min-width: 992px) {
	.form-user input, .form-user textarea, .form-user select {
		width: 500px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}