/********/
/* PAGE */
/********/
#top-page {
	position: fixed;
	right: 0;
	left: 0;
	top:0;
	z-index: 1030;
}
footer {
	position: fixed;
	bottom: 0;
 	width: 100%;
 	z-index:10;
}
/********/
/* MENU */
/********/
#menu {
	top:52px;
	padding:0;
	margin:0;
	position:fixed;
	background-color: #ececec;
	z-index:5;
	-webkit-clip-path: polygon(0px 100%,200px 100%,300px 0px,0px 0px);
	width:300px;
	height:100%;
}
#menu > #header-menu {
	margin-left:15px;
}
#menu > #body-menu > ul{
	list-style-type: none;
	padding:0;
}
#menu > #body-menu > ul > li {
	font-size: 16pt;
	padding-left:5px;
	cursor:pointer;
}
#menu > #body-menu > ul > li:hover {
	padding-left:0px;
	background:rgb(213, 213, 213);
	border-left:5px solid #63a2e8;
}
#menu > #body-menu > ul > li > a {
	margin-left:40px;
	color: #888687;
}
#menu > #body-menu > ul > li > a:hover{
	text-decoration: none;
	color:#63a2e8;
}
#sub-menu {
	top:52px;
	padding:0;
	margin:0;
	position:fixed;
	background-color: #ececec;
	z-index:3;
	-webkit-clip-path: polygon(0px 100%,200px 100%,300px 0px,0px 0px);
	width:300px;
	height:100%;
	background: rgba(200,200,200,0.7);
}
#sub-menu ul {
	list-style-type: none;
	padding-left:0;
	width:100%;
}
#sub-menu li a {
	color:white;
	font-size: 14pt;
}
#sub-menu > .sub-menu-categories {
	margin-left:100px;
	margin-top:60px;
	width:100%;
}
.sub-menu-categories.display {
	display:inline-block;
}
.sub-menu-categories.hidden {
	display:none;
}
/***********/
/* CONTENU */
/***********/
#content-scrolling {
    overflow: auto;
	margin-top: 52px;
	position:relative;
	height: calc( 100% - 252px );
}
#content > a {
	display:block;
	height:250px;
}
/***********/
/* PROJETS */
/***********/
.apercu{
	z-index:0;
	width: calc( 100% - 200px );
	height:250px;
	margin-left:200px;
	background:black;
}
.apercu img{
	position:absolute;
	width: calc( 100% - 200px );
	height:250px;
}
.filter{
	background:rgba(20,20,20,0.4);
	position:absolute;
	right:0;
	width:100%;
	height:250px;
	pointer-events:none;
}
.nom_asso{
	position:absolute;
	right:0;
	color: white;
	font-size: 15pt;
	margin-top: 10px;
	right: 200px;
}

.titre_projet{
	position:absolute;
	text-align:right;
	font-size:25pt;
	color:white;
	text-transform:uppercase;
	margin-top:35px;
	right: 200px;
}

.besoin{
	position:absolute;
	right:0;
	text-align:right;
	max-height:150px;
	font-size:12pt;
	width:300px;
	color:white;
	right: 200px;
	margin-top:85px;
	overflow:hidden;
}
/*************/
/* DIAGRAMME */
/*************/
.diagramme {
	position:absolute;
	right:20px;
  	margin-top: 50px;
	width:150px;
	height:150px;
}
.pie, svg, .pie-content {
	position:absolute;
}
.pie {
	list-style:none;
	-webkit-padding-start:0;
}
svg {
	z-index:2;
}
.pie-content {
	z-index:3;
	color:white;
	width:150px;
	height:150px;
	text-align:center;
	padding-top:40px;
}
.pie-content .percentage {
	font-size:25pt;
	margin-bottom:5px;
}
#text-ressource-info{
	color:grey;
	font-weight:bold;
}
#text-ressource-financiere{
	color:#d9534f;
	font-weight:bold;
}
#text-ressource-humaine{
	color:#5bc0de;
	font-weight:bold;
}
#text-ressource-materiel{
	color:#5cb85c;
	font-weight:bold;
}