#boites, #ressources {
	text-align: left;
	background-color: rgb(66, 139, 202);
	padding: 20px;
	border: 1px solid;
}
#cf_mainbundle_projet_boxs > div, #cf_mainbundle_projet_besoins > div {
	margin:5px;
	width: 200px;
	height:auto;
	display:inline-block;
	padding:10px;
	border:1px solid black;
	border-radius: 5px;
	background: whitesmoke;
}
#cf_mainbundle_projet_boxs > div{
	width: calc(50% - 10px);
}
#ajout_besoin, #ajout_box {
  height: 90px;
  line-height: 75px;
  width: 90px;
  margin: 64px 60px;
  vertical-align: top;
}
#ajout_box {
	margin: 64px calc(25% - 49px);
}
#ajout_besoin > i, #ajout_box > i {
  font-size: 30pt;
  vertical-align: middle;
}
#suppr_besoin, #suppr_box {
  margin-left: 25%;
  margin-top: 10px;
  width: 50%;
}
.container {
	margin-bottom:20px;
	width:100%;
}
#body > div > div > ul, #body > div {
	margin-bottom: 0.5px;
}
#body > form {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}