/**** BANNER ****/
#banner {
	width:100%;
	height:300px;
    position:absolute;

	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);

	filter: blur(2px);
}
#layer {
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: rgba(10,10,10,.4);
}
#label {
	color:rgb(138, 202, 139);
	padding:10px 25px;
	border:3px solid rgb(138, 202, 139);
	border-radius:5px;
	width:200px;
}
.logo-name {
	position:absolute;
	margin-left:60px;
	margin-top:45px;
	width: calc(100% - 60px);
}
.logo-username {
	display:inline-block;
	margin-left:20px;
	vertical-align: middle;
	width: calc(100% - 250px);
}
.logo-name h1, .logo-name h2 {
	color:#fff;
	margin:0;
}
.logo-name h1 {
	font-size:30pt;
}
.logo-name h2 {
	font-size: 12pt;
}
#logo {
	width:150px;
	height:150px;
	margin-left:25px;
}
#block-body {
	background-color:#eee;
	margin-top:1px;
	padding-bottom:80px;
}
.reseaux_sociaux {
	display:inline-block;
	margin-top:5px;
	margin-left:5px;
}
span.fa.fa-facebook {
	width: 13px;
}
textarea {
	width:100%;
	height:179px;
	resize: none;
}
/**** TAB BOX ****/
.inner-left, .inner-right {
	width:50%;
	vertical-align: top;
	display:inline-block;
}
.inner-right {
	float:right;
}
.tab-box.full img {
	margin-bottom: 10px;
	width:95%;
	height: 250px;
}
/**** MENU ****/
.panel-heading {
	padding:0;
	width:100%;
}
.content-panel-heading {
	text-align: center;
	height:300px;
}
.btn-group {
	margin-top:275px;
    text-align: center;
    display: inline-block;
}
.nav-tabs {
	border:none;
}
.nav-tabs li.active {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs li {
	padding:0;
}
.nav-tabs li:hover {
	background-color:#fff;
	border-bottom:3px solid #428bca;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border:1px solid #fff;
	color:#428bca;
	background-color:#fff;
}
.nav-tabs>li>a, .nav-tabs>li>input {
	border:1px solid #fff;
	color:grey;
	background-color:#fff;
	position: relative;
	display: block;
	padding: 10px 15px;
}
/**** ACHIEVEMENTS ****/
.achievement {
	border:1px solid rgb(20, 178, 28);
	overflow: hidden;
	position: relative;
	min-height: 150px;
	width:600px;
}
.achievement-content {
	width:70%;
}
.achievement-content h1 {
	color: rgb(20, 178, 28);
}
.achievement-desc {
	margin-left:20px;
	font-style: italic;
	color:#999999;
}
.achievement-logo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
	width:25%;
}
.achievement-logo img{
	height:100%;
	width:100%;
}
/**** TIMELINE ****/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #fff;
  border: 1px solid #D4D4D4;
  right: 25px;
  margin-left: -1.5px;
  border-radius: 5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  background-color: #fff;
}
.timeline > li > .timeline-panel:before, .timeline > li > .timeline-panel:after {
	position: absolute;
	display: inline-block;
	content: " ";
}
.timeline > li > .timeline-panel:before {
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
}
.timeline > li > .timeline-panel:after {
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
}
.timeline-heading > h3 {
	margin-top:0;
	font-style: italic;
}
.timeline > li > .timeline-badge {
	position: absolute;
	top: 16px;
	right: 0px;
}
.timeline > li > .timeline-badge > img {
	height:50px;
	width:50px;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p, .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}