body {
	background: #34495E;
}
/* NEW VERSION */
.sidebar-left {
	display: inline-block;
	background: #D8D8D8;
	height: 470px;
	width: 25%;
	vertical-align: top;
}

.sidebar-left-title {
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 36px;
	font-weight: 300;
}

.sidebar-left-title .blue {
	color: #3498DB;
}

.sidebar-left-slogan {
	text-transform: lowercase;
	letter-spacing: 15px;
	color: #4A4A4A;
	text-align: center;
}

.sidebar-left hr {
	width: 260px;
	margin: 20px auto;
	border-color: #4A4A4A;
}

.sidebar-left-inscription {
	text-align: center;
	padding: 0px 10px;
}

.sidebar-left button {
	display: block;
	width: 260px;
	margin: 10px auto;
}

.sidebar-projects {
	background: #34495E;
	height: 242px;
	padding-top: 10px;
}

.sidebar-projects a {
	display: block;
	line-height: 40px;
	color: #FFFFFF;
	text-indent: 20px;
	border-left: 5px solid #34495E;
	margin: 10px 0px;
	font-size: 16px;
	font-weight: 300;
}

.sidebar-projects a:hover {
	text-decoration: none;
	border-left: 5px solid #3498DB;
	background: rgba(216, 216, 216, .25);
}

.carousel-front {
	display: inline-block;
	width: 75%;
	background: blue;
	height: 470px;
	position: relative;
	vertical-align: top;
	background: url('../images/carousel-example.jpeg') center center no-repeat;
	background-size: cover;
}

.carousel-front-texte {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 200px;
	background: rgba(0,0,0, 0.3);
	padding: 30px 20px;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	color:white;
}

.carousel-front .btn-discover {
	font-size: 13px;
	border: 2px solid #5FCF80;
	border-radius: 5px;
	display: inline-block;
	padding: 6px;
	width: 200px;
	font-weight: 600;
	color: #5FCF80;
}

.carousel-menu {
	background: #22313F;
	width: 100%;
	height: 175px;
}

.search {
	height: 60px;
	width: 100%;
	background: #D8D8D8;
	cursor: text;
}

.search input {
	display: block;
	margin: 0px auto;
	width: 60%;
	background: transparent;
	border: none;
	font-size: 22px;
	padding-top: 15px;
	text-align: center;
	color: #4A4A4A;
}

.search input:focus {
	border: none;
	outline: none;
}

.selectors {
	text-align: center;
}

.selector {
	display: inline-block;
	width: 250px;
	margin: 20px 20px;
}

.selector .select {
	padding: 15px 0px;
	background: #FFFFFF;
	cursor: pointer;
}

.selector .select.active {
	background: rgba(216, 216, 216, 0.25);
	color: #FFFFFF;
}

.selector .select:hover {
	background: rgba(216, 216, 216, 0.5);
	color: #FFFFFF;
}
/*****************/
/* SLIDER CONFIG */
/*****************/

.slider * {
	margin:0;
	padding:0;
}
.slider *:focus {
	outline:none;
}
.slider {
	width:100%;
	height:125px;
	position: relative;
}

/****************/
/* PETIT SLIDER */
/****************/
.slider > div {
	width: calc( 100% - 74px );
	margin-left:37px;
}
.slider .item-slider {
	width: 100%;
	height:125px;
	position:relative;
	display:inline-block;
	cursor:pointer;
	overflow: hidden;
}
.slide-image, .slide-image-blured {
	position:absolute;
	width:100%;
	height: 125px;
}
.slick-slider .slick-list { 
	padding:0!important;
  	position: absolute;
  	height:100%;
}

/******************/
/* BOUTONS SLIDER */
/******************/
.slick-prev, .slick-next, .slick-prev:focus, .slick-next:focus {
	position:absolute;
	height:100%;
	width:37px;
	background: #22313f;
	border: none;
	color:white;
	cursor:pointer;
	outline:none;
}
.slick-next {
	right:0;
}

/****************/
/* ITEMS SLIDER */
/****************/
.project-infos {
	position:absolute;
	width:100%;
	height:100%;
  	z-index: 12;
}
.project-infos > h1 {
	text-align: center;
	color:white;
	line-height: 125px;
	vertical-align: middle;
	text-shadow: 0px 0px 3px #000;
} 
.project-more-infos {
	position:absolute;
	width:100%;
	color:white;
	bottom: -30px;
	z-index:15;
}
.project-more-infos > .text-infos {
	display:block;
	margin:0 auto;
	width: 50%;
	text-align: center;
	margin-top:5px;
}
.project-more-infos > .text-infos > p {
	text-align: center;
	display:inline-block;
	text-shadow: 0px 0px 3px #000;
}
.jauge {
	background: white;
	width: 90%;
	height: 6px;
	margin: 0 auto;
	border-radius: 5px;
}
.jauge-inner {
	background: #008EFF;
	height: 100%;
	border-radius: 5px;
}

/**********************/
/* ITEMS SLIDER IMAGE */
/**********************/
.slide-image-blured {
	z-index: 1;
	bottom: 0;
}
.mask {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 30%;
	z-index: 10;
	overflow: hidden;
	-webkit-filter: blur(6px);
}