@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

html {
	height:100%;
}
body{
	min-height:100%;
	height:inherit;
	width:100%;
	top:0;
	margin: 0;
	padding: 0;
  background: #34495E;
	overflow-x: hidden;
	font-family: "Helvetica Neue", "Open Sans", Arial,sans-serif;
	font-size: 13px;
}

/**** ALERT ****/
.alert-top {
  width: 100%;
  top: 50px;
  background-color: rgb(116, 184, 164);
  color: #FFFFFF;
  z-index: 2;
  position: fixed;
  padding: 16px;
  text-align: center;
  font-size: 16px;
}

.alert-top-success {
  background-color: #2ecc71;
}

.alert-top-warning {
  background-color: #e67e22;
}

.alert-top-danger {
  background-color: #e74c3c;
}

/**** ICONES ****/
.icon-medium {
  width: 40px;
}

/**** MAIN ****/
#main {
  min-height: calc( 100% - 290px);
	margin-top: 50px;
}
.btn {
  font-family: 'Open Sans';
  font-size:13px !important;
  padding: 10px 20px;
}
.btn-success {
  background-color: #5FCF80;
  border: none;
}
.row {
  margin:0;
}
/*** NAVIGATION ***/
nav {
  height:50px;
  width:100%;
  background: #fff;
  position:fixed;
  top: 0;
  z-index:9;
}
nav > .navigation-bar {
  width:80%;
  margin:0 auto;
  position: relative;
}
.navigation-bar-right {
  position: absolute;
  right: 0;
  height: 50px;
}
.nav-content {
  position: absolute;
  width: 100%;
}
nav .navigation-bar .nav-content > div {
  height:100%;
  width: calc(50% - 50px);
  display:inline-block;
  vertical-align: top;
  list-style-type: none;
}
nav .navigation-bar .nav-left-part {
  text-align:right;
  margin-right:20px;
}
nav .navigation-bar .nav-right-part {
  text-align: left;
  margin-left:20px;
}
nav .navigation-bar .nav-middle-part {
  width: 50px!important;
}
nav > .navigation-bar .nav-content li {
  height:50px;
  display:inline-block;
  color:black;
  width:150px;
  vertical-align: top;
  text-align: center;
}
nav > .navigation-bar .nav-content li a{
  color: #333;
  display: inline-block;
  width:100%;
  height:100%;
  padding: 15px 0;
  text-decoration: none;
  font-weight: 600;
}

nav > .navigation-bar .nav-content li a:hover{
  background-color: transparent;
  border-bottom: 5px solid #3498DB;
  padding-bottom: 10px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
}

nav .navigation-bar .nav-middle-part li{
  width:50px!important;
}
nav .navigation-bar .nav-middle-part a {
  padding: 0!important;
}
nav .navigation-bar .nav-middle-part a:hover {
  border:none!important;
}
nav .navigation-bar .nav-middle-part img {
  width:50px;
  height:50px;
}

.navigation-bar-right li {
  display:inline-block;
  list-style-type: none;
  height: 50px;
  vertical-align: top;
}
.navigation-bar-right a {
  height:50px;
  vertical-align: middle;
  display: block;
  padding: 15px 10px;
  color: rgb(72, 72, 72);
}
.navigation-bar-right #drop-user {
  padding: 8px 10px;
}
.navigation-bar-right #drop-user:focus {
  background: #23282D;
color: #FFF;
}
.navigation-bar-right #drop-notif {
  padding: 13px 0;
}
.navigation-bar-right a:hover, .navigation-bar-right a:focus {
  outline: none;
  text-decoration: none;
  color:rgb(53, 152, 219);
}
.navigation-bar-right img {
  max-height:30px;
  max-width: 100px;
  border-radius:6px;
  margin-top: 2px;
}
.navigation-bar-right .caret {
  margin-top: 6px;
}
#drop-user:focus {
  background: rgb(250, 250, 250);
  color:#333;
}
.navigation-bar-right .dropdown-menu {
  margin-top:0;
  border-radius: 0;
  background: #23282D;
  color: white;
  left: -100px;
  border: none;
}
.navigation-bar-right .dropdown-menu li {
  width: 100%;
  height: 40px;
}
.navigation-bar-right .dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-bar-right .dropdown-menu li a {
  width: 100%;
  font-size: 14px;
  height: 100%;
  padding: 4px 10px;
  color: #FFF;
  line-height: 30px;
  border-left: 5px solid #23282D;
}
.navigation-bar-right .dropdown-menu li a.red, .navigation-bar-right .dropdown-menu li a.red:hover {
  border-left: 5px solid #c0392b;
}

.navigation-bar-right .dropdown-menu li a i{
  margin-right:5px;
}
.navigation-bar-right .dropdown-menu li a:hover {
  background: #32373C;
  border-left: 5px solid #3498DB;
  text-indent: 4px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}
.navigation-bar-right .badge {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: #eb4d5c;
  padding-top: 6px;
}
.navigation-bar-right .badge a{
  color: white;
  font-size: 14px;
  height: 25px;
  padding: 5px 0;
  font-family: 'Lato';
}
.navigation-bar-left {
  display:none;
  list-style: none;
  position: absolute;
  left:50%;
  margin-left:-25px;
}
.navigation-bar-left img {
  width:50px;
  height:50px;
}
.nav-content-res {
  display:none;
  position: absolute;
  top:50px;
  width:100%;
  list-style: none;
  border-top:1px solid #E5E5E5;
}
.nav-content-res li {
  width:100%;
}
.nav-content-res li a{
  background:#ECECEC;
  width:100%;
  display: block;
  color:#484848;
  line-height: 40px;
  font-size: 14px;
  padding-left:20px;
  font-weight: bold;
}
.nav-content-res li a:hover{
  background: #E0E0E0;
  color: #3498DB;
  text-decoration: none;
}
.navigation-bar-right li.btn-modal-sign a {
  padding-top: 13px;
  font-size: 24px;
}
#toggle-menu {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  background: #fff;
  border: 0px solid black;
  border-radius: 5px;
  color: rgb(136, 136, 136);
  padding: 3px 9px;
}

@media (max-width: 1024px) {
  nav > .navigation-bar {
    width: 100%;
  }
}
@media (max-width: 960px) {
  nav > .navigation-bar .nav-content li {
    width: auto;
    margin: 0 15px;
  }
  nav .navigation-bar .nav-middle-part li{
    margin:0;
  }
}
@media (max-width: 800px) {
  .nav-left-part {
    margin-right:0!important;
  } 
  .nav-right-part {
    margin-left:0!important;
  } 
}
@media (max-width: 760px) {
  #toggle-menu {
    display:block;
  }
  .nav-content {
    display:none;
  }
  .nav-content .nav-middle-part {
    display:none!important;
  }
  .navigation-bar-left {
    display:block;
  }
  .navigation-bar-right .dropdown-menu {

  }
}
/**** FOOTER ****/
footer {
	text-align: center;
	position: absolute;
	background: rgb(10, 46, 57);
	height: 200px;
	width: 100%;
}
footer #footer-top {
  background: #272E35;
  margin:0 auto;
  display: block;
  width:100%;
}
footer #footer-bottom {
  height:40px;
  background: #191F27;
  display: block;
}
#footer-bottom {
  color:#fff;
  line-height: 40px;
  vertical-align: middle;
}
#footer-top section {
  display:inline-block;
  color:#4A4A4A;
}
#footer-top h1 {
  margin-top: 0;
  padding-top:10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 36px;
  font-weight: 300;
  color:rgb(221, 221, 221);
}
#footer-top h1 .blue {
  color: #3498DB;
}
#footer-top h2 {
  text-transform: lowercase;
  letter-spacing: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color:rgb(141, 145, 145);
}
#footer-top section hr {
  width:200px;
  border-color:#919191;
}
#footer-top .social {
  display: inline-block;
  margin:0 10px;
}
#footer-top section + section {
  border-left:1px solid #919191;
  margin:15px;
  padding:5px 20px;
  text-align: left;
}
#footer-top section h4 {
  font-size: 20px;
  margin:0;
  margin-bottom: 6px;
  letter-spacing: 2px;
  color:rgb(221, 221, 221);
}
#footer-top ul {
  list-style: none;
  padding:0;
  margin:0;
}
#footer-top ul li a {
  color:#B6B6B6;
  line-height: 26px;
  font-size: 12px;
}
@media (max-width: 759px) {
  nav {
    position: absolute;
  }

  #footer-top section {
    display: block;
  }

  #footer-top section + section {
    border-left:0px solid #919191;
    margin: 0px;
    padding-top: 12px;
    border-top: 1px solid rgb(145, 145, 145);
    text-align: center;
  }

  #footer-top section + section h4 {
    cursor: pointer;
  }

  #footer-top section + section ul {
    display: none;
  }

  .socials {
    margin-bottom: 20px;
  }
}
