html {
	height:100%;
}
body{
	background-color: #323749;
	min-height:100%;
	margin:inherit;
	height:inherit;
	top:0;
	width:100%;
}
/**** MENU BARRE DE NAVIGATION ****/
.navbar {
	margin-bottom:1px;
	border-radius:0;
	border:none;
}
.navbar-default, .navbar-default .navbar-nav .active a:hover {
	background-color:#ececec;
}
.nav li a:hover, .navbar-default .navbar-nav>.active>a {
	border-bottom:5px solid #63a2e8;
	color:#63a2e8;
	padding-bottom:10px;
	background:none;
}
.navbar-collapse {
	position: relative;
	padding-top: 30px !important;
	max-height: 270px;
}

@media (min-width: 768px) {
	.navbar-collapse {
		padding-top: 0px !important;
		padding-right: 38px !important;
	}
}
.dropdown-menu li a:hover {
	border-left:3px solid #63a2e8;
	border-bottom:0;
	padding-bottom:3px;
	padding-left:17px;
	background:none;
}
/**** FOOTER ****/
.footer {
	background: none;
	height: auto;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 15px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
	color: #78828D
}