body{
	overflow:hidden;
	background-image:url(../images/bg.jpg);
	background-repeat: no-repeat;
	min-height:100%;
	margin:inherit;
	height:inherit;
	top:0;
	padding:0;	
}
#header{
	text-align:center;
	margin-top:0px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	top:0;
}
#reseaux_sociaux {
	margin-top:20px;
}
#reseaux_sociaux a{
	padding-right:10px;
	padding-left:10px;
	color: white;
	text-shadow:none;
	text-decoration:none;
}
#reseaux_sociaux #facebook:hover{
	color: #3b5998;
}
#reseaux_sociaux #twitter:hover{
	color: #55ACEE;
}
#reseaux_sociaux #googleplus:hover{
	color: #dd4b39;
}
#footer{
	bottom: 0;
	text-align: center;
}
.glyphicon-heart{
	color:red;
}
/**** CAROUSEL TEST ****/
#carousel-container {
	width:100%;
	height:202px;
}
.carousel li {
	background:#ccc;
	color:#666; 
	float:left;
	font-weight:bold;
	font-size:3em;
	list-style:none;
	text-align:center;
	width: 200px;
	height: 202px;
	
	/*div penchees*/
	-webkit-clip-path: polygon(0px 200px,200px 200px,300px 0px,100px 0px);
	clip-path: url("#imgPolygon");
	
	/*flou*/
	filter: blur(1px);
	-webkit-filter: blur(1px);
	
	/*transition*/
	/*transition: all 1.2s;*/
}
.carousel li:hover {
	/*width:500px;
	-webkit-clip-path: polygon(0px 200px,500px 200px,600px 0px,100px 0px);*/
}
.carousel ul li img{
	width:300px;
	height:200px;
	/*transition*/
	/*transition:all 1.2s;*/
}
.carousel ul li img:hover {
	/*width:600px;*/
}
.carousel ul {
	height:200px;
	margin:0;
	padding:0;
}
#menu_carousel {
	position:absolute;
	width: 250px;
	height: 200px;
	background-color: #b7b7ba;
	z-index:1;
	
	/*menu penche*/
	-webkit-clip-path: polygon(0px 200px,150px 200px,250px 0px,0px 0px);
	clip-path: url("#menuPolygon");
}
#menu_carousel a {
	margin-top:8px;
	padding-left:30px;
	display:block;
	font-size:17pt;
	color:grey;
}
#menu_carousel a:hover , #menu_carousel a:focus{
	text-decoration:none;
	border-left:3px solid blue;
	color:blue;
}
/**** BARRE DE RECHERCHE ****/
.navbar-default {
	margin-top:30px;
	height:70px;
}
.navbar-collapse {
	position: relative;
	max-height: 270px;
}
.navbar-collapse form[role="search"] {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 100px;
	margin-right:auto;
	margin-left:auto;
}
.navbar-collapse form[role="search"] input {
	border-radius: 0px;
	border-width: 0px;
	color: rgb(119, 119, 119);
	background-color: rgb(248, 248, 248);
	border-color: rgb(231, 231, 231);
	padding: 16px 12px;
	font-size: 20pt;
	font-style: italic;
	box-shadow: none;
	height:68px;
}
.input-group {
	width:100%;
}
button[type="reset"] {
	border-width: 0px;
	color: rgb(119, 119, 119);
	background-color: rgb(248, 248, 248);
}
button[type="reset"]:hover {
	border-width: 0px;
	color: #449cfa;
	background-color: rgb(248, 248, 248);
}
button[type="submit"] {
	border-width: 0px;
	color: rgb(119, 119, 119);
	background-color: rgb(248, 248, 248);
}
button[type="submit"]:hover {
	border-width: 0px;
	color: #449cfa;
	background-color: rgb(248, 248, 248);
}
/* Affichage des boutons drag&drop */
.dragdrop-button-container {
	width:500px;
}
#vignettes li{
	z-index:2;
	cursor:move;
	margin:2.5px;
}