html {
	height:100%;
}
body{
	background-color: #323749;
	min-height:100%;
	margin:inherit;
	height:inherit;
	top:0;
	width:100%;
}
#body {
	min-height: calc(100% - 236px);
	overflow-x: hidden;
}
/**** MENU BARRE DE NAVIGATION ****/
.navbar {
	margin-bottom:1px;
	border-radius:0;
	border:none;
}
.navbar-default {
	background-color:#ececec;
}
.navbar-nav>li>a {
	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a:hover {
	border-bottom:5px solid #63a2e8;
	color:#63a2e8;
	padding-bottom:10px;
	background-color:#ececec;
}
.navbar-collapse {
	position: relative;
	padding-top: 30px !important;
	max-height: 270px;
}
div#collapse {
	margin-left: 100px;
}
@media (min-width: 768px) {
	.navbar-collapse {
		padding-top: 0px !important;
		padding-right: 38px !important;
	}
}
.dropdown-menu li a:hover {
	border-left:3px solid #63a2e8;
	border-bottom:0;
	padding-bottom:3px;
	padding-left:17px;
	background:none;
}
/**** FOOTER ****/
.footer {
	background: none;
	height: auto;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 15px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
	color: #78828D
}
/**** BOITES DANS LES SOUS MENUS ****/
.tab-box {
	background-color:#fff;
	border-radius: 5px;
	width: calc(50% - 32px);
	min-height:300px;
	display:inline-block;
	padding: 20px;
	vertical-align:top;
	margin-left: 20px;
	margin-top:20px;
	border:1px solid rgba(0,0,0,.1);
}
.tab-box h1 {
	font-size:20pt;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
	margin-top:0;
}
.tab-box h2 {
	font-size:16pt;
}
.tab-box p {
	font-size:12pt;
	text-align: justify;
    text-justify: inter-word;
}
.tab-box img {
	width:100%;
	height: auto;
}
.tab-box.full {
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-top: 20px;
}
.tab-box.full p.picture {
	text-align:center;
}
.tab-box.full img {
	width:500px;
	height: 300px;
	border:1px solid rgba(0,0,0,0.2);
}
.tab-box.aside {
	width:25%;
}
.tab-box.aside a{
	width:100%;
}
.tab-box.aside p {
	margin:0;
}
.tab-box.aside .progress {
	background-color:#dadada;
}
.tab-box.full.aside {
	width:70%;
}