{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Confirmation d'inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	 <p>
	 	Félicitations, vous pouvez maintenant profiter pleinement de nos services !
	 </p>
{% endblock %}
