{% extends "CFUserBundle::layout.html.twig" %}

{% block body %}
	<a class="btn btn-default" href="{{ path('association_registration') }}">Association</a>
	<a class="btn btn-default" href="{{ path('entreprise_registration') }}">Entreprise</a>
	<a class="btn btn-default" href="{{ path('particulier_registration') }}">Particulier</a>
{% endblock %}