{% extends "::base.html.twig" %}

{% block title %}
  	{{ parent() }} - Développeurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- CUSTOMS CSS -->

{% endblock %}

{% block body %}
	
	<p>Contenu</p>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- CUSTOMS JAVASCRIPTS -->

{% endblock %}