{% extends "::base.html.twig" %}

{% block title %}
  	{{ parent() }} - Développeurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- CUSTOMS CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style_siteBundle.css') }}">
{% endblock %}

{% block body %}
	
	<div class="head-site">
		<h1>Développeurs</h1>
		<h2>Rudy de Visscher</h2>
		<h2>Sébastien Schouteeten</h2>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- CUSTOMS JAVASCRIPTS -->

{% endblock %}