{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
	{{ parent() }} - Redéfinir mon mot de passe
{% endblock %}

{% block page_title %}Mot de passe oublié ?{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_user_form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block fos_user_content %}
<section id="main-with-title">
    <div class="container-inner">
    	<p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
</section>
{% endblock fos_user_content %}