{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
	{{ parent() }} - Redéfinir mon mot de passe
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block fos_user_content %}
<h1>Mot de passe oublié</h1>

<div class="row">
    <div class="col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
    	<p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
</div>
{% endblock fos_user_content %}