<form method="post" action="{{ path('cf_main_recherche') }}" id="form-search">
	{{ form_widget(form.tags) }}
	<div id="type-search">Je recherche des {{ form_widget(form.type) }}</div> 
	<div class="searchBar"><div id="search-bar">{{ form_widget(form.recherche, {'attr': {'placeholder': 'Tapez votre recherche', 'onfocus': 'this.placeholder = \'\'', 'onblur': 'this.placeholder = \'Tapez votre recherche\''}}) }}</div><div id="search-button"><button class="btn btn-success" type="submit">Rechercher <span class="glyphicon glyphicon-search"></span></button></div></div>
</form>