{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Supprimer une Box
{% endblock %}

{% block body %}
<form method="post">
	<p>
		Etes vous sur de vouloir supprimer cette box ?
	</p>
	{{ form_rest(form) }}

	<button type="submit">Oui</button>
</form>
{% endblock body %}