<form action="{{ path('cf_comment_comment_report_update', { 'id' : comment.id }) }}" id="comment-report-{{ comment.id }}" method="post" >
  <div class="form-group report">
    <button type="button" class="btn-report" id-comment="{{ comment.id }}" data-toggle="tooltip" data-placement="bottom" title="Signaler"><i class='fa fa-exclamation-triangle'></i></button>
  </div>
</form>