<form action="{{ path('cf_comment_comment_report', { 'id' : thread.id, 'comment_id' : comment.id }) }}" method="post" >
  <div class="form-group">
    <input type="submit" class="btn btn-warning" value="Signaler" />
  </div>
</form>