<form action="{{ path('cf_comment_comment_report', { 'id' : thread.id, 'comment_id' : comment.id }) }}" method="post" >
  <div class="form-group">
    <button type="submit" class="btn btn-warning"><i class='fa fa-exclamation-triangle'></i></button>
  </div>
</form>