{% extends "::base.html.twig" %}

{% block header %}
	<h1>COCEPTIO</h1>
	<h2>concevoir | ensemble</h2>
{% endblock %}

{% block footer %}
	<p>made with <span class="glyphicon glyphicon-heart"></span> by the project team</p>
{% endblock %}